[2017-12-29 16:28] Lawouach opened #1 "HTTP Errors do not seem to be tracked"
Hi there,

I noticed that, non-global metrics do not seem to handle HTTP errors raised by flask. For instance, for this very dummy handler:

[code]

The `http_index_requests_by_status_and_path` metric never reports the 500 whereas the global `flask_http_request_duration_seconds_count` does. I wonder if the code handles the exception that is triggered by calling ̀abort(500)`.

[2017-12-29 20:51] #1 closed

[2017-12-29 21:00] rycus86 commented on #1
Hi @Lawouach ,

Thanks a lot for letting me know and for providing a failing example!
It was super helpful and hopefully https://github.com/rycus86/prometheus_flask_exporter/commit/9e3c9a64250b8f8c3d900b48970c21107048fe47 fixes the issue.
Please try again with version 0.1.2 and let me know if it doesn't work.

Thanks!

[2017-12-29 21:04] Lawouach commented on #1
Hi @rycus86.

Thanks for the swift fix. I will definitely do next week.

Really useful project by the way!
Thanks,

[2018-02-26 17:18] nottrobin opened #2 "Metrics per view function name instead of URL path?"
A new set of metrics for each path makes for a very noisy export, in our case. There could be literally thousands of paths.

Would it be possible to support tracking by the name of the function handling the request, rather than the path? Similar to what [django-prometheus](https://github.com/korfuri/django-prometheus) does.

So that the code:

[code]

Instead of outputting:

[code]

Would output:

[2018-02-26 17:27] rycus86 commented on #2
Thanks for the examples! I'll have a look at the Django implementation then. I think we have two options here:

1. Add the view name as another label to the same metric
2. Create a new metric with view names, but without the http path

I'll check what people usually use/do in these cases and will try to do something similar.

Thanks!

[2018-02-26 17:41] nottrobin commented on #2
No probs. I might try to submit a pull-request if I get a chance.

[2018-02-27 09:54] nottrobin commented on #2
@rycus86 I added a pull-request ^ with a test. Let me know what you think of it.

[2018-02-27 11:06] rycus86 commented on #2
Thanks a lot! I haven't had time to look into it properly yet. The PR looks good, I'm just wondering if it's not too specific for your use case. I just want to check whether this could be done with existing overrides - even if so, the code might need some change to not add the `path` label by default if you dont want it.

I'll try to have a look later today.
Thanks a lot for the work so far!

[2018-02-27 11:17] nottrobin commented on #2
It's your call, but I'm not sure it's that specific. As I say, this is how the django-prometheus package works.

It seems to me that there are basically 2 ways you can group request metrics, and by `request.endpoint` makes at least as much sense as `request.path`. Ultimately what you want to know with these metrics is which paths through your code are slow, so grouping by entrypoint (endpoint) see

[2018-02-27 21:04] #2 closed

[2018-02-27 21:05] rycus86 commented on #2
OK, thanks, you sold it to me. :)
I'll do some minor styling edits and I'll publish a new version on PyPI today.
Thanks a lot for the contribution!

[2018-02-27 22:34] nottrobin commented on #2
Amazing! Thanks @rycus86. Contributing to your project has been a dream.

[2018-03-20 09:43] sbrandtb opened #4 "Using `start_http_server` results into undefined behaviour"
When starting a Flask app in debug mode (`werkzeug` server) on port, let's say, 5000 and using `PrometheusMetrics.start_http_server` on another port, let's say 9000, Prometheus endpoint is served properly on port 9000, but _also_ on port 5000, resulting in responses that come randomly from the original or the prometheus Flask app.

I'm not sure if that's a limitation of `werkzeug` - however, when

[2018-03-20 18:28] rycus86 commented on #4
Hi!

Thanks for trying this library! :)
I'll have a look at this in a little while and will try to fix it.
Does it only happen in debug mode?

The reason for exposing the metrics endpoint with Flask is that, I thought, we already have an HTTP server to use, why start a different one.
Having said that, I think you can avoid having it auto-registered on Flask, and start it through the prometheus_cli

[2018-03-20 21:42] #4 closed

[2018-03-20 21:45] rycus86 commented on #4
Hi @sbrandtb ,

I've done some changes to *try* detect if the app is running in debug mode.
With this, you shouldn't get the metrics endpoint's responses on the main Flask app.

There is one caveat though, the actual metrics endpoint won't see the changes that are loaded via the reloader.

Let me know if this makes things better for you or not!
The change will be in version 0.2.1

Thanks!

[2018-03-22 09:18] sbrandtb commented on #4
Hi, thanks for responding so quickly!

Sure, it's nice. Btw, you inspired me to write the same for tornado (very early alpha): https://github.com/FRI-DAY/tornado-prometheus-exporter

That's true if you choose the same port. But if you choose a different port, like we and AFAIK lots of others do because it makes it easier to not expose metrics to the outside world, then it makes not that much sense

[2018-03-22 20:57] rycus86 commented on #4
Thanks for looking into this some more!
I've had another quick look, and I'm not sure at this point how easy it would be to support this use case.
The solution you posted looks promising, just not sure how I'd integrate it *into* the library.
You're absolutely correct, the changes I've done do suffer from the same issue you described.

I get that it might be confusing to have the metrics endpoint

[2018-04-06 20:38] thatcher opened #5 "wsgi daemon mode"
I run my stateless flask apps with mod_wsgi/apache using daemon mode like:

[code]

Which means when a request gets to the service it could be hitting 1 of 8 daemon processes each of which have their own memory in isolation of the others.  Does the metrics endpoint store the prometheus data in a way that is shared across these daemons?

I can create some tests to verify if thats the case or not, j

[2018-04-06 20:42] rycus86 commented on #5
Hi Thatcher,

I think I've seen both thread and process based aggregation in the official Prometheus Python library that's used here, so I think it *might* work, but I'll have to check.
If you beat me to finding the answer, it would be great if you could share it on this issue! :)

Thanks,
Viktor

[2018-04-06 22:46] thatcher commented on #5
I can definitely verify i can start my micro-service, run a handful of request, and when i continue to refresh my metrics endpoints i get different responses from each daemon, which makes sense.

It looks like promethues_client added support for a multi process collectors as in the examples provided here:

https://github.com/prometheus/client_python/issues/122

I think we could patch this in my lo

[2018-04-06 23:32] thatcher commented on #5
Yup it worked! heres the gist:

wsgy.py
[code]

in my flask app:
[code]

Thats it! You could add this as some an introspected feature or just document the recipe for others.

Thanks rycus86!

Thatcher

[2018-04-24 12:04] JackLeo opened #6 "Examples of Prometheus queries"
There should be an example of useful queries with the default data gathered.
Comming to this out of the blue its a bit hard to figure out what should I inspect. For e.g. is this is a right approach?

[code]

[2018-04-24 22:06] rycus86 commented on #6
Thanks for the suggestion!
I think the actual queries need to be tweaked for each application, but I can try to come up with some examples that could be useful in some cases.
The average response time you showed sounds like a good candidate, if there isn't a big spread or large outliers in them, otherwise something like the p90 or p99 metrics could be useful - I think.

I'll try to come up with a

[2018-05-03 23:12] thatcher commented on #5
@snegivulcan I discovered the same issue and realized the issue is related to some of the code in the prometheus_flask_exporter and I didnt have time to dig into it.  I'd like to eventually figure out how to get it to play nicely with prometheus_flask_exporter. I can confirm that the issue does not occur if I use the prometheus client directly.  Here is how i am using it for now in production:

[c

[2018-05-04 19:55] rycus86 commented on #5
Hi @snegivulcan and @thatcher ,

Have you had a look at the small example in https://github.com/rycus86/prometheus_flask_exporter/tree/master/examples/wsgi ?
I don't have much experience with running wsgi apps, but the results seem to have indicated it's working as intented.
Please let me know if that's not the case and I'll try to have another look.

Thanks!

[2018-05-05 12:34] rycus86 commented on #6
Hi @JackLeo ,

Collected some examples, and added them as a runnable demo in https://github.com/rycus86/prometheus_flask_exporter/tree/master/examples/sample-signals

Thanks again for raising this issue!

[2018-05-05 12:34] #6 closed

[2018-05-17 15:19] jpds commented on #5
I'm using the same code as @thatcher from his Flask example and I noticed from the comment headers that what's being exposed relates to one of the workers and the other belongs to the multiprocess metrics:

[code]

[2018-05-17 15:33] jpds commented on #5
I found a fix from:

https://github.com/jonashaag/prometheus-multiprocessing-example/blob/master/yourapp.py

Where I define the following as a `/metrics` endpoint:

[code]

[2018-05-17 20:39] rycus86 commented on #5
Hi @jpds,

Thanks for sharing your findings! The project you mentioned also links the multiprocessing section of the official Prometheus Python client library: https://github.com/prometheus/client_python#multiprocess-mode-gunicorn

I'll try to have a look if this could be supported somehow better with this library.

Thanks!

[2018-08-25 11:39] rycus86 commented on #5
Hi,

There's a new release with some multiprocessing changes from @elephantum - https://pypi.org/project/prometheus-flask-exporter/0.2.3/

It would be great if you could give it a look if the previous problem still happens using this version.

Thanks!

[2018-10-06 19:45] mdz opened #9 "Doesn't seem to capture metrics for failed (500) requests?"
Hi, thanks for sharing this, it seems very close to what I need. My use case is to collect metrics for all requests by status code, for monitoring and alerting. So it's very important that 500s be included in the metrics.

After enabling prometheus_flask_exporter, I get metrics at `/metrics` immediately (yay!) but if I cause an unhandled exception, a 500 is returned to the client, but no metrics a

[2018-10-06 21:39] rycus86 commented on #9
Hi @mdz ,

I think you're right, we do use `after_request`, wasn't aware that it might execute on exceptions. :/
I have a test for this case at https://github.com/rycus86/prometheus_flask_exporter/blob/master/tests/test_endpoint.py#L118, but it looks like either it's one where it's still executed, or the test mode is slightly different in this respect.
Is there any chance you could reproduce your

[2018-10-08 17:36] mdz commented on #9
Thanks for the pointer to the unit test, I'll try to reproduce with a minimal case. I suspect it might be related to flask-restful, since it has slightly different error handling behavior.

[2018-10-08 20:48] mdz commented on #9
My minimal test cases (https://github.com/basezer0/prometheus_flask_exporter/commit/6d1355cada64b4a0a03670cad9fba227c5f5166a) seem to work fine, so the problem must be in our code somewhere. Sorry for the noise.

[2018-10-08 20:48] #9 closed

[2018-10-08 20:51] rycus86 commented on #9
No worries! The API docs do indicate that it may not be called in some cases, so it's still possible, maybe it's just that these tests are too *clean* on how they throw the exception - I'm not sure.
Thanks a lot for reporting anyway, if I see it happening again I'll do a deeper investigation.

[2018-10-22 10:27] jeteon opened #10 "Support using a prefix other than "flask""
I've noticed that all the metrics have the prefix "flask" hardcoded for them. In my environment, I'd like to use the library on multiple Flask based applications. It would be nice to be able to assign each one a unique prefix. Is this something that would be welcome as an addition to the library or is the official way to deal with this metric relabelling on ingest?

[2018-10-22 11:24] rycus86 commented on #10
Hi @jeteon ,

Sounds like a totally valid use case. I can have a look at it, should be a fairly trivial change I think.
Alternatively, I'd review a PR for it. 🙂

Thanks for the suggestion!

[2018-10-23 11:16] rycus86 commented on #10
Hi @jeteon ,

The `defaults_prefix` should do what you want now.
Thanks again!

[2018-10-23 11:16] #10 closed

[2018-10-23 11:22] jeteon commented on #10
You beat me to it 😄. Thanks again for making this library available.

[2018-11-10 04:43] geekodour opened #12 "The formatting in pypi is broken"
https://pypi.org/project/prometheus-flask-exporter/

What can be done to fix this?

[2018-11-10 09:37] rycus86 commented on #12
Thanks for reporting this!
When I looked at it a long time ago, I thought the only option is to add a *reStructuredText* version of the README and maintain that separately, which I didn't want to do.
Now, it looks like PyPI should support Markdown, just needs some metadata in `setup.py`: https://packaging.python.org/guides/making-a-pypi-friendly-readme/#including-your-readme-in-your-package-s-meta

[2018-11-10 10:02] rycus86 commented on #12
OK, it looks better now: https://pypi.org/project/prometheus-flask-exporter/0.3.3/
Thanks for making me look into this! :)

[2018-11-10 10:02] #12 closed

[2018-11-12 15:21] nonnib opened #13 "Add support for grouping by url_rule"
In PR#3 the following flag was added: `group_by_endpoint`. This is a great addition since it allows you to group metrics by route rather then by absolute path.

However, this will log out metrics grouped on the route name, e.g. `api.users_user` whereas it might be better to group it on the rule, e.g. `/users/<int:user_id>` (`request.url_rule`)

Maybe `group_by_endpoint` can be extended to support

[2018-11-12 15:26] nonnib opened #14 "AttributeError: 'Request' object has no attribute 'prom_start_time'"
`before_request` from `export_defaults()` is not guaranteed to run if some other `before_request` hook raises exception, for example for authentication.

Therefore, when `after_request` is triggered `request.prom_start_time` might not be set.

Suggested fix would be to skip the histogram section in `after_request` if `request` has no `prom_start_time` attribute.

[2018-11-12 19:37] rycus86 commented on #14
Thanks for the report!
Would you have a small example to test?
When I try raising an exception, the `after_request` hooks is not triggered either - though unit tests might behave differently.

Thank you!

[2018-11-13 08:11] nonnib commented on #14
Yes, I'm sorry, I should have elaborated. an unhandled exception will of course just crash in the before_request hook, but if the exception is handled by the app (or flask) `before_request` handlers which are unlucky enough to be processed after that one won't get called, but `after_request` handlers will be called as usual.

Minimal example here:
[code]

navigate to http://localhost:8080 and you

[2018-11-13 08:41] rycus86 commented on #14
That's perfect, thank you very much!
I'll have a look at it soon.

[2018-11-13 09:42] rycus86 commented on #13
Hm... Just looking at the Prometheus docs at:

Sounds like we can't use the rule as-is. Maybe we need something like a `label_name_generator` or similar?

[2018-11-13 09:43] #14 closed

[2018-11-13 09:47] rycus86 commented on #14
Version `0.3.4` will have this in about 10-15 minutes.

[2018-11-13 09:48] nonnib commented on #13
Ah, didn't realize that. Probably not worth the effort then.
The `.` in the `endpoint`, e.g. `api.users_user` might not be supported either?

[2018-11-13 09:49] nonnib commented on #14
That's an amazing turn-around time, thank you!

[2018-11-13 09:49] rycus86 commented on #13
Hm, good spot! I'll have a look, might need to sanitize it (though that would be a breaking change).

[2018-11-13 09:57] rycus86 commented on #13
Oh... I should have read the line exactly below the one I copied here. It says:

So it's all good. I'll have a look how to best add the `rule` rather than the `endpoint`.

[2018-11-13 11:21] #13 closed

[2018-12-05 13:50] Miouge1 opened #15 "WSGI Example with dedicated port"
Hi,

First off great work with `prometheus_flask_exporter` it makes instrumentation easier to get into.

I am struggling to get the exporter exposed on a dedicated port (say TCP/9100) when using `gunicorn` or `uwsgi`. Do you have any example of such a setup?

Here is an example with dev server on metrics on a dedicated port:
[code]

[2018-12-06 06:54] skbly7 commented on #4
+1 for having metrics in development via configurable parameter just in case you reconsider in future.

[2018-12-06 12:59] rycus86 commented on #15
Hi @Miouge1 !
I don't, but I'll try to set up a test for it when I get a chance, hopefully this weekend.
Thanks!

[2018-12-06 13:01] rycus86 commented on #4
I'd accept PRs if you'd have time to investigate a solution for it? :)

[2018-12-07 12:20] rycus86 commented on #15
Hi! Thanks a lot again for the praise and for having me look into these!
I've added two small examples:
- for Gunicorn: https://github.com/rycus86/prometheus_flask_exporter/tree/master/examples/gunicorn
- and for uWSGI: https://github.com/rycus86/prometheus_flask_exporter/tree/master/examples/gunicorn

Right now, the trick is to have a `prometheus_multiproc_dir` environment variable set to a writa

[2018-12-07 15:12] Miouge1 commented on #15
Wow, great! I've tested the gunicorn example and it works nicely.

Thanks a lot!

[2018-12-17 11:50] rycus86 commented on #5
I've added some more multiprocessing changes to version 0.5.0, mainly targeted for Gunicorn and uWSGI, but should work in a generic way - see the README for more info.

[2018-12-17 11:50] #5 closed

[2018-12-17 13:01] rycus86 commented on #4
@skbly7 I've added some very basic support for metrics in `debug=True` mode in version `0.5.1`. To get it, make sure you have the `DEBUG_METRICS` environment variable set to something non-empty.
Let me know if this makes this better for you? :)

[2019-01-04 14:41] fritjofbuettner opened #16 "Restrict access to /metrics endpoint"
Hi,
for security reasons, I would like to restrict access to the `/metrics` endpoint to a certain IP address (the external Prometheus server).
What would be the best way to implement this?
Thanks!

----

*Python 3.6, Flask 1.0.2, prometheus-flask-exporter 0.5.1*

[2019-01-05 10:55] rycus86 commented on #16
Hi,

I would probably do something like this in a reverse proxy in front of the Flask application.
If you do want to do it with this library though, then you'll probably have to disable the automatic `/metrics` endpoint registration and do it yourself, it should only be a few lines of code plus any extra for the address validation.
Alternatively, you *may* be able to leave everything on defaults a

[2019-01-07 10:07] fritjofbuettner commented on #16
Thanks for the reply. I ended up restricting access in the apache reverse proxy in the following way:

[code]

(The flask application is serverd by gunicorn in a docker container)

[2019-01-07 10:07] #16 closed

[2019-01-11 16:30] maximegregoire opened #17 ""Duplicated timeseries in CollectorRegistry" when testing"
Hi,

Thanks for this awesome module!

When testing my flask application, I instantiate a new instance of my application for every test using fixtures. For the first test, everything goes right, but on subsequent tests, I get a "Duplicated timeseries" error. My understanding is that `PrometheusMetrics` uses the same registry for every application. Is this the expected behavior?

Here's a minimal sn

[2019-01-12 10:51] rycus86 commented on #17
Hi,

Thanks a lot for reporting this!

If this is strictly a testing related problem for you, I've solved it exactly the way you described it, by using a new `CollectorRegistry` for each test: https://github.com/rycus86/prometheus_flask_exporter/blob/master/tests/unittest_helper.py#L22

There's also a *way more hacky* approach, where you can unregister all the metrics collectors before each tests,

[2019-01-13 03:04] maximegregoire commented on #17
Thanks for your reply! I ended unregistering the metrics collectors in my test fixture, as you suggested.

[2019-01-13 03:04] #17 closed

[2019-01-15 21:34] mplachter opened #18 "GunicornPrometheusMetrics Doesn't Export Python Metrics"
When using `prometheus_flask_exporter` with `gunicorn` it seems that the built in metrics `(python_gc, memory, cpu, etc)` that are usually exported when just using this with the internal `flask` server does not get pushed to `/metrics`

[2019-01-15 22:25] rycus86 commented on #18
Thanks for reporting this! This is intentional as there won't be a single process metrics from the forked worker processes, so those default metrics are skipped.
I think this is the way it works elsewhere but I may be wrong.

Do you think it would make sense to have those metrics? And if yes, how?

[2019-01-15 23:49] mplachter commented on #18
Hey @rycus86 this completely makes sense.
I am curious if nothing can be exported either per worker (process) and then aggregated just like we do with the HTTP metrics or keep them separated by worker_id. I'm currently looking into the `python_client` directly and see what maybe can be done, if anything.

[2019-01-16 02:09] mplachter commented on #18
@rycus86 I am going to close this for now.
It seems that the `gc_collector` and other metrics are disabled when `prometheus_multiproc_dir` is set as an environment variable.

https://github.com/prometheus/client_python/blob/master/prometheus_client/gc_collector.py#L20

I will move to a multithreaded WSGI server instead like `waitress` for now.
If this becomes a blocker and I choose to look deeper

[2019-01-16 02:09] #18 closed

[2019-01-16 09:17] rycus86 commented on #18
@mplachter thanks a lot for digging into this and for reporting back!
I think I'm going to add a note to the README about this for anyone else wondering about the same thing.

Thanks!

[2019-04-19 23:06] quaterneon opened #21 "Gauge with callable label_value using deprecated function"
This is running in python3.7 + flask, on a mac.

Abbreviated (and anonymized) setup is:
[code]

I get the following warning:
[code]

[2019-04-20 10:08] rycus86 commented on #21
Thanks a lot for reporting @quaterneon !
I'll have a look and try to switch to the non-deprecated way.

[2019-04-23 11:16] #21 closed

[2019-04-23 11:23] rycus86 commented on #21
This should be fixed in version `0.7.2` - will be available in a few minutes. Thanks again!

[2019-05-17 09:27] RazerM opened #22 "lable callables aren't given response objects for blueprint endpoints"
In a blueprint, `request.endpoint` is `<blueprint name>.<endpoint>`, e.g. `auth.login`

This line doesn't work:

https://github.com/rycus86/prometheus_flask_exporter/blob/678dbf3097e82a0ddb697268406004cc1f4a26bc/prometheus_flask_exporter/__init__.py#L466

Example:
[code]

[2019-05-17 09:29] rycus86 commented on #22
Ooh, wasn't aware of this, thanks for reporting! I'll try to see if it's a quick fix.

[2019-05-18 11:57] rycus86 commented on #22
This is now fixed in 0.7.3, thanks again for reporting it!

[2019-05-18 11:57] #22 closed

[2019-05-20 09:11] RazerM opened #23 "Flask endpoint names may differ from function name"
Thanks for fixing #22! It fixes the simple case but I also realised something else.

The problem with the following code is that Flask endpoint names can be different than the function name, consider `@app.route('/hello', endpoint='my_hello')`.

https://github.com/rycus86/prometheus_flask_exporter/blob/0203d62506a1119fa011c1b11036db95902d44c6/prometheus_flask_exporter/__init__.py#L465-L472

I thin

[2019-05-20 09:16] rycus86 commented on #23
Oh, nice one, thanks a lot! Let me write a test for it and try your solution. Looking good from what I can tell. :)

[2019-05-20 11:36] RazerM opened #24 "Exceptions shouldn't bypass Flask's error handling"
When an exception occurs in the view function, prometheus_flask_exporter turns it into a custom response, bypassing all of the Flask app's error handlers:

https://github.com/rycus86/prometheus_flask_exporter/blob/0203d62506a1119fa011c1b11036db95902d44c6/prometheus_flask_exporter/__init__.py#L456-L457

It gets returned from the function on this line:

https://github.com/rycus86/prometheus_flask_ex

[2019-05-20 11:38] #23 closed

[2019-05-20 11:39] rycus86 commented on #23
It worked perfectly, thank you very much again. It's running through CI now, should be soon available as `0.7.4` :tada:

[2019-05-20 12:41] #24 closed

[2019-05-20 12:42] rycus86 commented on #24
Wow, awesome, thanks again for the great suggestion! It seems to work very well and should be available in `0.8.0` in a few minutes.

[2019-05-31 17:07] gdubicki opened #25 "Add flag to disable exporting python_* metrics"
Thank you for this great library! Thanks to it I was able to add metrics to my app in no time. :)

But I would to not export metrics that I am not going to use so please add a flag to stop exporting these:

[code]

They are exported even if I set `export_defaults=False`.

[2019-06-01 12:16] rycus86 commented on #25
Thanks a lot for the kind words! :)
Yeah, this makes sense, I can add a flag for disabling it.
The `export_defaults` flag here means the defaults of this library, so that doesn't include the system metrics.

[2019-06-02 10:46] rycus86 commented on #25
OK, on second thought, the correct thing to do here would be using a new registry instance.

[code]

The platform metrics (and process metrics) are only exposed on the default `prometheus_client.REGISTRY` instance, which is not in this library.

Hope this helps!

[2019-06-02 10:46] #25 closed

[2019-06-10 16:14] jackdreilly opened #26 "Setting path for GunicornPrometheusMetrics"
I am wondering whether there would be any negative side-effects to setting `GunicornPrometheusMetrics().path` to not be `None`.

I prefer to service the metrics inside of the main `Flask` app, rather than its own `http` server.

Is there any reason that setting `path` was explicitly disabled in the `GunicornPrometheusMetrics` constructor?

[2019-06-11 11:11] rycus86 commented on #26
Hi,

I think there was one, but can't remember off the top of my head. Something about multiprocessing?
Not really sure at the moment, but I'll try to test it a bit to see if it can be done.

Thanks!

[2019-06-12 07:08] deepak1725 opened #27 "Wiki: In Non Containerised approach, where is logs stored by default..? Can i overide the path?"
Please tell path where Metrics are stored by Default.

[2019-06-12 07:20] rycus86 commented on #27
Hi,

It is at `/metrics`, see https://github.com/rycus86/prometheus_flask_exporter/blob/master/README.md#configuration

[2019-06-12 07:41] deepak1725 commented on #27
That's HTTP  endpoint.  i was asking Path, where metrics are actually stored in Backend.
I guess its `/tmp/*` by default
To override default path: I just did:
`export prometheus_multiproc_dir=/home/my_name/prom_logs`
 and hence able to export to required place.

[2019-06-12 07:44] rycus86 commented on #27
Oh, that path. Yes, that environment variable is used by the underlying Prometheus library to store temporary files to aggregate over when in multiprocessing mode.
Not sure what's the default value of that or if it has one. I believe, if you want to enable multiprocessing, you should set that like you did.

[2019-06-12 08:22] #27 closed

[2019-06-12 08:22] deepak1725 commented on #27
thanks!

[2019-06-12 13:32] deepak1725 opened #28 "Wiki: Need to add parameter in labels"
What is recommended way for adding Parameter in metrics... ?

I mean, Currently we have:
`invocation_by_type_created{item_type="hey"} 1.5603457069620097e+09`
Which can be achieved by:
[code]
Now,  We need to have some **timedelta** included in output metrics,
something like:
`invocation_by_type_created{item_type="hey", timedelta=52} 1.5603457069620097e+09`

which is ofcause the function execution

[2019-06-12 22:23] rycus86 commented on #28
Hm, not sure I understand it completely, sorry.
If you want count and duration, have a look at summary or histogram. Those would aggregate the total invocation times on the endpoint.
Does this help?

[2019-06-13 06:12] deepak1725 commented on #28
Okay.. Is there a way to edit metrics..? During or after a function call..?

[2019-06-13 06:14] rycus86 commented on #28
Edit in what way? Can you give me examples of what you're trying to achieve?

[2019-06-13 07:18] deepak1725 commented on #28
Ok, Lets suppose we got a metrics generated by:
[code]
Now can i reference that meterics generated above..?
I need to Edit same metrics to add some additional data.

[2019-06-13 07:23] rycus86 commented on #28
You cam have more than one labels, and they accept functions or lambdas for values that are evaluated in the request context. See usage at https://github.com/rycus86/prometheus_flask_exporter/blob/master/README.md#usage

Is this what you're after?

[2019-06-13 11:39] rycus86 commented on #26
OK, it looks like it's working fine. :man_shrugging:
I think I may have started with uWSGI where it needs to be separate (I think), then I assumed it needs to be the same for Gunicorn as well.

In any case, I added `GunicornInternalPrometheusMetrics` in version `0.8.1` (to be released in a few minutes), which accepts a `path` and does what you wanted. I added some notes on it in the README, but si

[2019-06-13 11:39] #26 closed

[2019-06-13 12:01] deepak1725 commented on #28
Thanks! It helped

[2019-06-13 12:01] #28 closed

[2019-06-13 15:40] jackdreilly commented on #26
My experience running with `path` set has been successful so far. Thank you for testing and following up with the changes, and of course, thanks for the great library!

[2019-06-20 10:25] miteshvp opened #29 "Help Needed for metric type summary"
I have two questions
1. Is there a way to store average latency time based on the histogram `flask_http_request_duration_seconds_sum` and `flask_http_request_duration_seconds_count`  as another metric?

2. What is the best way to pass r.status_code if you do not use `@app.route` to instantiate? I am using BluePrint and Flask_restful to register and instantiate separately as in

Following your exam

[2019-06-20 10:57] rycus86 commented on #29
Good questions!

On the average, I don't think there's anything built-in in the underlying library, though it should be just `*_sum / *_count` on the other end, or something similar? If you would want to compute it in Flask, would it be a total average since the app has started, or a rolling average for the last X minutes, or something else? I've seen this calculated on the aggregation system more

[2019-06-21 00:53] tcmalyousef opened #30 "Adding default label"
Hi,

I'm kind of new to Prometheus, so my usage might not be the best approach.

I have multiple flask applications and monitored within the same Prometheus. I want to be able to filter using application_name label.

I want to add `application_name` label to the default exports. what is the best way to approaching this?

I tried the following:

[code]
same decorators are replicated on each route.

[2019-06-21 04:08] miteshvp commented on #29
Thanks for your quick reply. I was thinking of calculating average since lifetime (because _sum and _count are probably since the start of a process).
I will wait to hear from you for the second point.
Thanks.

[2019-06-21 10:19] rycus86 commented on #30
Hi,

Yeah, that makes sense to me. But I'm not sure whether we can do this with this library already or not, I can check it over the weekend.
If we can't do it yet, it's probably a small change to add. :)

Thanks!

[2019-06-22 12:05] rycus86 commented on #30
I haven't managed to spend time on this yet, but wanted to ask whether exposing multiple different metrics endpoints could work for you? In that case, Prometheus would attach the "where it came from" extra label anyway that would allow you to filter by it.

As for the error above, the `@metrics.do_not_track()` disables collecting the default metrics from that function, but it doesn't prevent setti

[2019-06-22 12:07] rycus86 commented on #29
Tried to have a look today, it looks like I'd need to add some `Flask-RESTful` specific heuristics in the code to detect if we're currently in a restful handler function or not. Should be doable, but it is a bit complicated, so I'll have to have another look to see what's the best way of supporting that.

[2019-06-24 11:41] rycus86 commented on #29
I think I managed to get it working for your use case. It's running through Travis now, and should be available in `0.8.2` very soon. Thanks again for the report!

[2019-06-24 11:41] #29 closed

[2019-06-24 11:59] rycus86 commented on #30
I had a look at this, and it was relatively easy to add, so there's now a new `static_labels` argument on `PrometheusMetrics(..)` and you can use it like this:

[code]

[2019-06-24 12:05] #30 closed

[2019-06-25 05:37] miteshvp commented on #29
Thank you. I will give it a try on `0.8.2`

[2019-08-06 08:42] xiecang opened #31 "uwsgi config "lazy-apps: yes" "should_start_http_server" return False"
"UWsgiPrometheusMetrics().should_start_http_server()"  returns False  when I set uwsgi's startup parameter "lazy-apps:yes".

How can I use it when setting "lazy-apps:yes" ?
uwsgi config:
[code]
code:
[code]

[2019-08-06 10:42] rycus86 commented on #31
Hm, I'm not familiar with the setting, let me have a quick look.

[2019-08-06 11:21] rycus86 commented on #31
One workaround that seems to work is exposing the metrics endpoint on the main application:
[code]

I'm still testing if the endpoint can be started on a new port with `lazy-apps`.

[2019-08-06 12:14] rycus86 commented on #31
See an example in https://github.com/rycus86/prometheus_flask_exporter/blob/master/examples/uwsgi-lazy-apps/server.py and the setup in https://github.com/rycus86/prometheus_flask_exporter/blob/master/examples/uwsgi-lazy-apps/Dockerfile#L14-L16

[2019-08-06 12:15] rycus86 commented on #31
I haven't found a way to start the endpoint on a separate HTTP server - the master process doesn't seem to run the module. If you know a way, please let me know!
Otherwise if you're happy with the workaround, please close the issue.

Thanks!

[2019-08-07 06:32] xiecang commented on #31
It is very effective！
Thanks!

[2019-08-07 06:32] #31 closed

[2019-08-07 10:25] tlinhart commented on #31
I'm a bit late here but anyway. Exposing the metrics endpoint on the main app is fine with `lazy-apps`. However, when for some reason you need to server the metrics on a different port (e.g. you don't want to expose them to the world), you can't do that. That's exactly my case. In my setup, the app is deployed as a Docker image (nginx -> uWSGI -> Flask app) and I need to run the metrics on a diffe

[2019-08-07 10:43] rycus86 commented on #31
That sounds like a good setup. How's the second app running to expose the metrics endpoint? Is it running in the same container?

[2019-08-07 10:45] tlinhart commented on #31
Yeah. I use Supervisord to run nginx and uWSGI. So basically I added another program to the game -- Flask app exposing the metrics. Another advantage is that this way, you can scale your app and the metrics app independently.

[2019-08-07 10:45] rycus86 commented on #31
Thanks for sharing!

[2019-08-09 07:27] deepak1725 opened #32 "wiki: How to reset Counter..?"

[2019-08-09 08:55] rycus86 commented on #32
Can you give some more information?
What are you trying to achieve?

[2019-08-09 09:41] mamor1 opened #33 "App factory project structure with GunicornInternalPrometheusMetrics()"
I have an app that I want to run replicas of in a K8s cluster. For this I am using the GunicornInternalPrometheusMetrics class like so inside `__init__.py`:

[code]
In the app file I define the app object like so:
[code]

However, this does not make the metrics decorator available for my modules (which have the routes).

Therefore, I tried to make it in the app factory way:
[code]

However, this c

[2019-08-09 11:11] #33 closed

[2019-08-09 11:13] rycus86 commented on #33
Hi @mamor1 !
Thanks a lot for bringing this to my attention! There was a bug, with `app=None` in this type of metrics implementation, it should be fixed now.
You can see the example here (https://github.com/rycus86/prometheus_flask_exporter/blob/master/examples/gunicorn-app-factory/app_setup.py), I basically did what you tried above. With the bugfix it will now work.
Once the change goes through T

[2019-08-09 11:34] deepak1725 commented on #32
@rycus86 I actually need to reset `*request_count_total*` in `/metrics` endpoint. So any way to achieve same..?

[2019-08-09 11:39] rycus86 commented on #32
Counters in Prometheus shouldn't decrease, they can only reset when the process restarts. See https://www.robustperception.io/how-does-a-prometheus-counter-work for more information.

You could probably use a Gauge metric and increment / set to zero as needed if you want?

[2019-08-09 11:48] deepak1725 commented on #32
Okay. How can Push Gauge Metrics to Zero..?

[2019-08-09 11:58] rycus86 commented on #32
I'd recommend using the underlying Prometheus library's Gauge directly, and this Flask extension will expose it on the same metrics endpoint as usual. See their docs on gauges at https://github.com/prometheus/client_python/blob/master/README.md#gauge

[2019-08-09 11:59] deepak1725 commented on #32
Thanks! It helped

[2019-08-09 11:59] #32 closed

[2019-09-05 20:16] BuSHari opened #34 "Option to add new metrics or new lable"
Hello,

I there an option to add a new metrics or new lable to the existing metrics?
for example, i want to add a lable with the requester ip to the default metric

or add a new metric that contain the location data of the requester ip.

I tried to use the group by, but it overwrite the path lable, and i cant add more than one lable.

Thanks,
Idan

[2019-09-07 11:08] rycus86 commented on #34
Hi Idan,

You can add new metrics easily, but you can't add labels to the default metrics.
You could do something like this:

[code]

In this case, the endpoint will be tracked with `requests_by_status` and also by all of the default ones, like `flask_http_request_duration_seconds` and `flask_http_request_total`.

Adding more labels to the built-in metrics is not currently supported.

Does this he

[2019-09-08 05:31] BuSHari commented on #34
Thanks for the response.
I tried that, but i need it to track all my endpoints that doesn't have the `@metrics.do_not_track()`
When i tried to create it and duplicate it to some endpoints i got the error
[code]

[2019-09-08 08:42] rycus86 commented on #34
Yeah, I think it might be nice for this library to support this use case, where you either want to extend the default metrics, or apply a metric collector to each of the endpoints.
I'll have a look when I have time, I don't think it should be too difficult to add this.

[2019-09-08 09:22] BuSHari commented on #34
exactly, it would be great...

[2019-09-09 16:39] torquerrr commented on #5
Doesn't seem to work for me with uwsgi and latest versions of prometheus_client/prometheus_flask_exporter (0.7.1/0.9.1).

[2019-09-09 21:36] rycus86 commented on #5
Hi @torquerrr
Have a look at https://github.com/rycus86/prometheus_flask_exporter/blob/master/README.md - there are some additional support classes for uwsgi integration with this library.
See also https://github.com/rycus86/prometheus_flask_exporter/blob/master/examples/uwsgi/server.py for a small example with uwsgi.

Let me know if you still think it's not working, things may have changed since

[2019-09-10 10:34] skecskes opened #35 "Exclude swagger requests"
I just started this on clean flask app and my metrics are already polluted by many swagger mnetrics. How can I exclude endpoints which are not exposed by me, but as middleware through flask?

![Screen Shot 2019-09-10 at 11 31 53](https://user-images.githubusercontent.com/3411329/64606741-d7d7c580-d3be-11e9-9d73-a2ba75ad71fb.png)

[2019-09-10 11:59] rycus86 commented on #35
That's a good question, I haven't considered it. Internally, I check if the Flask `request` has a `prom_do_not_track` attribute, and will not apply the default metrics collectors if it does.
See https://github.com/rycus86/prometheus_flask_exporter/blob/master/prometheus_flask_exporter/__init__.py#L532 and https://github.com/rycus86/prometheus_flask_exporter/blob/master/prometheus_flask_exporter/__

[2019-09-10 13:30] torquerrr commented on #5
@rycus86 I was able to narrow the problem down to `registry = CollectorRegistry()`. If I use simply `REGISTRY` from prometheus_client library, I have metrics available (but with values from different processes). Also, the .db file for Counter/Gauge (my additional metrics) is not created in /tmp for some reason, and permissions seem fine.
Probably it's my specific problem.

[2019-09-10 13:38] rycus86 commented on #5
Have you tried the multiprocess support classes from this library?

[code]

That should take care of setting up the multiprocessing-ready registries and such, you can see it in the example I linked above.

[2019-09-10 15:32] torquerrr commented on #5
@rycus86 Yes, now I am running it on the same host as main Flask app (host explicitly specified) and I get
[code]

[2019-09-10 20:17] rycus86 commented on #5
@torquerrr see the example I linked above, the uwsgi metrics object needs an explicit call to enable the metrics endpoint on a port:

[code]

[2019-09-11 08:15] torquerrr commented on #5
@rycus86 I've added that call to `start_http_server`, the only difference is that my Flask app is initialized inside another function in the same module (sort of lazy loading). So I call that `start_http_server` before `app.run()`

[2019-09-11 08:17] rycus86 commented on #5
Something like https://github.com/rycus86/prometheus_flask_exporter/blob/master/examples/uwsgi-lazy-apps/server.py perhaps?

[2019-09-11 08:20] torquerrr commented on #5
@rycus86 Does this example implies that I also need to set my uwsgi config to `lazy-apps = true` ?

[2019-09-11 08:21] rycus86 commented on #5
I tested it like that, not a 100% sure if it's required or not.

[2019-09-11 08:23] rycus86 commented on #5
Also, I wanted to say, if you can provide a stripped down example, I'm happy to try and have a look if the library needs changing perhaps?

[2019-09-11 08:23] torquerrr commented on #5
@rycus86 Thank you for your help, I will try this approach and return with results :)

[2019-09-11 08:43] andersbogsnes commented on #17
Hi,

I'm having the same issue as maxime, but the solution provided doesn't work for me. I am using pytest and Gunicorn and using the app_factory approach

My pytest fixture looks like this:

[code]

My app factory registers extensions like this:

[code]
[code]
Versions:
prometheus-flask-exporter==0.9.1
flask==1.1.1

When I try that, I still get the Duplicated Timeseries, also when I tried using t

[2019-09-11 08:59] torquerrr commented on #5
@rycus86 By the way - I can't find examples how to add custom metrics like Counter/Gauge, are there any?
What I do is simply declaring them in the flask app module scope, and then increase/set their value.
And it sort of works, i.e. metrics are produced and exported (when testing locally of course), but I don't think I understand how those Counter/Gauge should be connected with `multiprocess.Multi

[2019-09-11 21:38] rycus86 commented on #5
You can decorate your functions with the metrics helper, as shown in the readme: https://github.com/rycus86/prometheus_flask_exporter/blob/master/README.md

[code]

[2019-09-11 21:40] rycus86 commented on #5
The `UWsgiPrometheusMetrics` and other multiprocess classes in this library are meant to handle the multiprocessing related boilerplate and setup, so you shouldn't need to use `multiprocess.MultiProcessCollector` and similar directly.

[2019-09-11 21:48] rycus86 commented on #17
Can you try overwriting the registry first then creating the app here?
[code]
I think maybe the problem happens when you instantiate the `GunicornPrometheusMetrics` object before the Prometheus registry is reset.
It could also be the module level `metrics` object, can you make it so that you get a new instance of that on each test case? Not a 100% sure if that's a problem, but worth looking into.

[2019-09-20 17:56] captify-dieter opened #36 "Usage with flaskRESTFUL"
How can metrics be logged and customized when API is constructed using flaskRESTful library, where instead of routes, you have:

[code]

[2019-09-21 11:06] rycus86 commented on #36
Hey @captify-dieter , that's a good question! Let me investigate and come back to you on it. I'd expect the defaults should work, and perhaps the decorators too, but haven't tested explicitly.

[2019-09-24 13:32] captify-dieter commented on #36
Would the decorator need to be added for the class? (since the end point is defined on starting the flask server)

```api.add_resource(Coordinates, '/coordinates') ```

[2019-09-25 13:15] ziedbf commented on #36
Hi @captify-dieter  and @rycus86, I am hitting the same issues but with Flask-restplus, i managed to get the endpoint metrics exposed however i end up with an issue related to duplicate registration of metrics.

[code]

and basically just register it as resources to restplus:

[code]

The issues i am facing upon that as i mentioned above is the registery duplication:
[code]

I am trying to figure

[2019-09-25 16:51] ziedbf commented on #36
This is approach seems to be conflicting due to inheritance method within python, will try to figure another approach.

[2019-09-25 21:39] rycus86 commented on #36
Hi @captify-dieter and @ziedbf !
Thanks for the details so far! It would help if you could set up a really small example that demonstrates the problem, then I could use that as a reference to work out a solution.

Cheers!

[2019-09-26 09:35] ziedbf commented on #36
@rycus86  please find the public repos https://github.com/ziedbouf/flask-prometheus-demo inlcudes the flask-restplus, i think the method should work for both restfull and restplus.

I am still thinking of how this could be achieved

[2019-09-26 09:40] rycus86 commented on #36
Thanks a lot @ziedbf !

[2019-09-26 11:09] ziedbouf commented on #36
Thanks @rycus86  i figure out easier approach to apply and expose, however i am only stuck with flask restplus as it will try to parse the bytes objects returned including prometheus metrics.

I will update the last changes on my end and i need to figure out JSON serialisation within flask restplus.

[2019-09-26 11:23] rycus86 commented on #36
I just realized I already have an example for Flask-RESTful here :man_facepalming:
https://github.com/rycus86/prometheus_flask_exporter/blob/master/examples/restful-with-blueprints/server.py

Does this help answer your question @captify-dieter ?

[2019-09-26 11:27] rycus86 commented on #36
@ziedbf that^ should also work for RESTplus I think. Are you trying to add individual metrics to a single endpoint, or you want to add a metric for all the endpoints (like https://github.com/rycus86/prometheus_flask_exporter/issues/34) ?

[2019-09-26 11:29] ziedbouf commented on #36
I think the issues on exposing the metrics endpoints which is not straight forward on flask restplus. I update the codes and i end up with the metrics endpoints exposed however i am hitting the issue related to json seralizer trying to parse bytes object returned by the flask restplus [(L40)](https://github.com/ziedbouf/flask-prometheus-demo/blob/master/app/__init__.py#L40)

[2019-09-26 11:30] rycus86 commented on #36
Got it. Will have a look now.

[2019-09-26 11:32] ziedbouf commented on #36
decoding the bytes object works fine however no idea if it has an impact from prometheus side,
`return generate_latest(metrics.registry).decode('utf-8'), 200, headers` 'o.o'

[2019-09-26 11:38] rycus86 commented on #36
I think the metrics endpoint should be exposed in a different way, but let me test it.

[2019-09-26 11:40] rycus86 commented on #36
Are you actually just trying to add Swagger on the metrics endpoint?
If not, then simply using the wrapper (rather than extending it) might work like in this example:
https://github.com/rycus86/prometheus_flask_exporter/blob/master/examples/restful-with-blueprints/server.py

[2019-09-26 12:07] ziedbf commented on #36
yes it's working the only issue is encoding the result of the generated metrics report

[code]

[2019-09-26 12:08] ziedbouf commented on #36
yes it works fine the only issues in encoding

[code]

[2019-09-26 12:15] rycus86 commented on #36
Right, so this is not using `prometheus_flask_exporter` anymore. :)
This seems to work for me, not sure what am I missing?
[code]
Why do you want to register the metrics endpoint as a resource? If you just give it the underlying Flask Blueprint or app, it should work OK.

[2019-09-26 12:28] andersbogsnes commented on #17
Sorry for necroing - just remembered that I hadn't thanked you for putting together the test example!

Great work - much appreciated!

[2019-09-26 12:33] ziedbf commented on #36
The issues if i don't expose the metrics endpoints, you cannot collect the metrics as the flask server will reply with `404`,

![Screen Shot 2019-09-26 at 15 29 46](https://user-images.githubusercontent.com/31000451/65687848-b17a8100-e072-11e9-8762-8c048e520d57.png)

<img width="1680" alt="Screen Shot 2019-09-26 at 15 32 19" src="https://user-images.githubusercontent.com/31000451/65687929-db33a800

[2019-09-26 12:40] rycus86 commented on #36
How are you setting up the `PrometheusMetrics` object?
If you pass it either the `app = Flask(..)` object or the `Blueprint` instance, it should work.

[2019-09-26 12:43] captify-dieter commented on #36
Note you have a typo in the url: "/me[r]trics"

[2019-09-26 13:00] #35 closed

[2019-09-26 13:02] rycus86 commented on #35
I merged a fix for this, you can now use either:
[code]
or if you have multiple different patterns:
[code]

Let me know if this helps!

[2019-09-26 13:12] ziedbouf commented on #36
@captify-dieter just mistake from my end but the issue still persisting.

I solved the issue by just avoiding dealing with flask restplus and just use regular flask blueprints.

[code]

and just register the blueprint with flask app. the root cause is flask restplus force the any response to be serialize to json object which is not the case. I am still checking the documentation to find any option

[2019-09-26 13:17] rycus86 commented on #36
You only need the first bit, this library will expose `/metrics` for you, so you don't have to implement this part.
[code]
In this case, you're endpoint will be at `/metrics/metrics`, because this library registers `/metrics` on the root of the app/blueprint, and you set that to `/metrics` as well. :)

[2019-09-26 13:32] ziedbouf commented on #36
That's what i was suspecting, the issues is that what's happening with me that the metrics endpoints is not registered without using `meter()` func. o.O and no idea what's the reason behind                                                                                                                                such behavior.

[2019-09-26 14:15] #34 closed

[2019-09-26 14:17] rycus86 commented on #34
I've added support for this now. You could either add the same metric to all endpoints:
[code]

Or just add the same metric to some of the endpoints (not necessarily all of them) :
[code]

Let me know if this helps!

[2019-09-26 14:19] rycus86 commented on #17
Thanks a lot for coming back to say this. :)

[2019-10-03 07:21] BuSHari commented on #34
Thanks for the fix, but i'm getting this error when trying your example:

[code]

[2019-10-03 07:23] rycus86 commented on #34
@BuSHari could you provide a small example that fails to test with?

[2019-10-03 07:26] BuSHari commented on #34
Is this helps?

[code]

[2019-10-03 07:31] BuSHari commented on #34
And this is an example if i try it for all endpoints:

[code]

[2019-10-03 07:36] rycus86 commented on #34
Yep, so the `register_default` does not return anything, that should just register a default metric, that's why it complains about the `None` I believe.
[code]

Your second example with Gunicorn should work though.
I'll try to have a look later why it doesn't.

[2019-10-03 07:40] BuSHari commented on #34
In my first example it fails a when i start the app, its the same as your example

[2019-10-03 07:49] BuSHari commented on #34
Ok understood, i fixed my mistake, but i got other error:

[code]

Here is my example:
[code]

[2019-10-03 08:05] BuSHari commented on #34
ok thank you.
The first example is working for individuals endpoints, please let me know if there is a fix for all endpoints.

Thank you...

[2019-10-03 08:09] rycus86 commented on #34
All right, I'll have a look later if I can.
By the looks of it, that should work.
Do you use plain Flask, or some other extension like Restplus or Restful?

[2019-10-03 08:15] BuSHari commented on #34
thank you, I use restplus

[2019-10-03 13:37] rycus86 commented on #34
OK, it should be fixed in version `0.11.0`.
There was a problem, that the default registration only worked if the Flask `app` was passed in at the time of creating `PrometheusMetrics` object, not when it's `init_app` is used.
Now changed it so that it works under inside a `with app.app_context():` context, otherwise the `register_default(..., app=None)` function now accepts the Flask app to look f

[2019-10-03 14:07] BuSHari commented on #34
Great!
Thank you its working now... I'll test it further and let you know for any issues

[2019-10-14 19:39] 4n4nd opened #38 "flask_http_request_total counter value is not constantly increasing"
We have a simple flask [application](https://github.com/HumairAK/anomaly-detection-demo-app/blob/master/app/__init__.py#L43) where we are creating an instance of `PrometheusMetrics`. The metrics page seems to be working fine, but the metric value for `flask_http_request_total` doesn't seem to be monotonically increasing.

The graph for that metric looks like:
https://snapshot.raintank.io/dashboard

[2019-10-15 09:34] rycus86 commented on #38
Hi @4n4nd
Based on the repo you linked, it looks like you use Gunicorn for your app?
That needs multiprocessing support from the Prometheus library, and this exporter has some helpers to do that, check it out: https://github.com/rycus86/prometheus_flask_exporter/blob/master/README.md#multiprocess-applications

Let me know if this helps!

[2019-10-15 09:35] rycus86 commented on #38
You're probably hitting different Gunicorn worker instances of the app,this is why the value would not be monotonic.

[2019-10-15 11:09] 4n4nd commented on #38
Oh that makes a lot of sense, I never really thought about it.
Thanks!

[2019-10-16 19:10] #38 closed

[2019-10-23 08:02] kaminek opened #39 "uwsgi app stall gathering /metrics"
Hello 👋 ,
I have a timeout on `/metrics` endpoint. I followed the example of `uwsgi` file:
[code]
[code]
The app starts correctly. One of my resources is correctly responding, ex:
[code]

but the `/metrics` endpoint is not, the HTTP session timeout with:
[code]

Any idea?

`uwsgi` config:
[code]

the `prometheus_multiproc_dir` dir is correctly filled with:
[code]

[2019-10-24 03:02] rycus86 commented on #36
Thanks @captify-dieter ! Let me close this then, but feel free to comment or reopen if this is still an issue.

[2019-10-24 03:02] #36 closed

[2019-10-24 03:05] rycus86 commented on #39
Hi @kaminek - not at a laptop for a while unfortunately, but what you're doing seems fine. Are you checking the `/metrics` endpoint on the additional `port`, rather than the main uwsgi port?

[2019-10-24 07:52] kaminek commented on #39
Hi @rycus86,
I did not mention it sorry, but yes I was fetching the correct endpoint. The exporter server was started on the port `port` otherwise the curl would return `connection refused`.
Is there any way to debug the exporter http server?

[2019-10-24 08:08] rycus86 commented on #39
Yeah, if you check where that `start_http_server(..)` function leads, there's an inner function in there somewhere to actually register the endpoint IIRC. You should be able to breakpoint that I believe.

[2019-11-03 20:15] klml opened #40 "Prometheus Flask exporter with __main__"
I want to use Prometheus Flask exporter with [\_\_main__](https://docs.python.org/3.5/library/__main__.html).

This works fine by running env FLASK_APP=app.py flask run --port=80 --host='0.0.0.0':

[code]
But I want to use my app in \_\_main__, running python app.py.

[code]

Here I get 400 on /metrics.

I got no clue how to init metrics correctly.

thx for helping
klml

PS I asked this already [s

[2019-11-03 20:19] rycus86 commented on #40
Hm, not at a computer right now but that looks OK.
Can you try without setting the debug mode on?
I wonder if that's what's breaking it.

[2019-11-04 06:53] ampedandwired commented on #40
Can confirm that the debug flag seems to break things. If I put the following in `app.py` and run with `python app.py` then I see the metrics page successfully at http://127.0.0.1:5000/metrics

[code]

But change `debug=False` to `debug=True` and I get a 404. This is with `prometheus-flask-exporter==0.11.0`.

[2019-11-04 07:20] rycus86 commented on #40
Thanks a lot for the investigation!
I'll try to have a look when I can.

[2019-11-04 07:21] rycus86 commented on #39
Hi @kaminek
Have you found out anything while debugging by any chance?

[2019-11-04 07:22] rycus86 commented on #40
Do you want to try with the `DEBUG_METRICS` environment variable set?
https://github.com/rycus86/prometheus_flask_exporter/blob/master/README.md#debug-mode

[2019-11-04 09:29] klml commented on #40
@rycus86 thx for your lightspeed responses;)

I tried DEBUG_METRICS and it suddenly worked.
It even does not depend if DEBUG_METRICS is true or false.
It only must be set.
Vice versa, with no DEBUG_METRICS at all, I get "my" 404.

First I tried without DEBUG_METRICS and got a 404, but I got 200 be only setting DEBUG_METRICS.

[code]

So I got a workaround;)

Thx
klml

[2019-11-04 09:31] rycus86 commented on #40
Nice one! I do remember debug mode was a bit hacky, so it looks like that extra environment variable is necessary. :(
You're right, the value doesn't matter, it just needs to be set.

[2019-11-04 10:48] ampedandwired commented on #40
Thanks for the quick response. Running with `DEBUG_METRICS=true` fixes the problem.

[2019-11-04 11:12] klml commented on #40
@rycus86 Should we mention the dependence  `DEBUG_METRICS=true/false` working with `__main__` somewhere in README.md?

btw: it works even with `DEBUG_METRICS=lorem` ;)

[2019-11-04 21:17] rycus86 commented on #40
I think it's not about `__main__` but rather the Flask debug mode, see https://github.com/rycus86/prometheus_flask_exporter/blob/master/README.md#debug-mode

[2019-11-05 09:54] rycus86 commented on #40
Closing this for now, feel free to reopen or submit a PR if you think the docs need updating. Thanks!

[2019-11-05 09:54] #40 closed

[2019-11-12 12:16] kaminek commented on #39
Hi @rycus86 sorry I was on vacation, I'll do some debug tests asap

[2019-11-12 15:50] pacospace opened #41 "I cannot esclude some metrics using excluded_paths flag"
We have developed this [application](https://github.com/thoth-station/user-api/blob/ee2a775bef09aef866124e87b094cc2972b21f1a/thoth/user_api/openapi_server.py#L70) and we rely on this library for the metrics. I'm trying to exclude some metrics from the total count. I'm not able to exclude the endpoints described in [1] from the metrics using `excluded_paths`.

I tried using:
[code]
but I had no suc

[2019-11-12 20:33] rycus86 commented on #41
Hi @pacospace !
These exclusions need to be regular expressions, so try adding a `.*` at the end to match anything starting with those paths.
Looking at your example, you might need a `.*` in the front too, but I'm not a 100% sure on that, maybe try without it first.

Let me know if this helps!

[2019-11-13 08:40] pacospace commented on #41
Thanks a lot @rycus86. I solved it using:
[code]

[2019-11-13 08:40] #41 closed

[2019-11-19 10:33] rycus86 commented on #39
Hi @kaminek
Any luck debugging this so far?
No worries if haven't had a chance, but then perhaps we could close this issue then reopen when we have more data?
Thanks!

[2019-11-25 09:51] rycus86 commented on #39
Closing this for inactivity, feel free to reopen if needed and have more data!

[2019-11-25 09:51] #39 closed

[2019-12-02 10:05] hynek opened #42 "metrics.do_not_track() blocks also metrics.summary()/…"
I have a blueprint endpoint with an variable rule:

[code]

Since that gives me an overwhelming cardinality, I wanted to drop the domain from the metric. There doesn't seem to be a good way, I wanted to try a custom metric and took this straight from the examples:

[code]

Unfortunately, that doesn't work: the metric gets created, but not computed.

If I remove the `do_not_track(()`, it starts com

[2019-12-02 20:35] rycus86 commented on #42
Hi! `do_not_track()` disables tracking the endpoint completely (if I remember correctly), and I don't think there's a way to disable the built-in ones on a single endpoint at the moment.

It shouldn't be too hard to add this though, I'll try to give it a go this week.
I see now that the readme has examples with both `do_not_track` and a new metric, I think that was a mistake.
An alternative is to

[2019-12-03 12:29] hynek commented on #42
Thanks for getting back to me so fast!

Yeah, I guess it's a docs bug then. Especially because it literally says:

:)

That behavior would also make more sense I think.

[2019-12-04 10:53] rycus86 commented on #42
OK, I think I actually broke this on the last release with https://github.com/rycus86/prometheus_flask_exporter/commit/6b5424c5f37ecf36de6612f0283a00147625f4ac
Now I reverted this logic, so it does what it says in the README. If needed both the default and custom metrics can be suppressed with the new `@metrics.exclude_all_metrics()` decorator added in  https://github.com/rycus86/prometheus_flask_

[2019-12-04 10:53] #42 closed

[2019-12-04 11:22] hynek commented on #42
Thanks!

[2019-12-07 10:51] julienMichaud opened #43 "Need help with a simple use case using Counter"
Hi,

Im very new to Flask and Python in general.
I would like to expose metrics of a simple app I created.

The thing is I don't understand how to increment the value of a Counter for example..

[code]

I initialize my counter but how can I increment it by "1" when an aliment is added in my database please ?

Thanks for your help and excuse my stupid question.

[2019-12-08 09:59] rycus86 commented on #43
Hi! No need to apologize, this is a completely valid question!

This library provides decorators for your Flask managed endpoints, e.g. the `@metrics.counter` will count the number of times your `/newaliment` has been called. If you want to keep track of a different counter and manage it yourself, you could get a `Counter` from the underlying library like this (double-check if I haven't messed up

[2019-12-09 09:07] julienMichaud commented on #43
Make total sense, thanks for your help and best of luck with the fires in your country !

[2019-12-09 09:07] #43 closed

[2020-01-29 14:08] kotarf commented on #33
@rycus86 hello..I'm having issues with applying the app factory pattern to both GunicornInternalPrometheusMetrics and GunicornPrometheusMetrics in 0.12.1. I'm not getting any metrics recorded unless I directly instantiate with the _app_ argument provided (so no factory pattern).

 Is there any way you could describe the bug fix so I can attempt to troubleshoot locally? Thank you.

[2020-02-28 19:43] Geoiv opened #45 "Compatibility with Counter.count_exceptions()"
I've been using this package with a great degree of success on one of my projects. It's made my life a lot easier! There is one piece of functionality present in the `prometheus_client` package that I haven't been able to replicate with this package, however: Exception counting with `Counter.count_exceptions()`. Is it possible to replicate that functionality within this package, and if so, is ther

[2020-02-29 03:56] rycus86 commented on #45
Hi! I'm glad you find this library useful!

Have a look at some error condition handling tests in https://github.com/rycus86/prometheus_flask_exporter/blob/master/tests/test_endpoint.py to see if something like that would help you.
Otherwise, you can use the prometheus_client library to collect metrics. As long as you use the same Registry, this library will expose them on the `/metrics` endpoint.

[2020-03-06 21:15] Geoiv commented on #45
Thank you for the quick response, and I apologize for the delay in mine! Yes, that ended up being just what I needed. I very much appreciate the help!

[2020-03-06 21:15] #45 closed

[2020-03-27 01:56] DeoLeung opened #47 "usage of flask_exporter_info"
Hi, I would like to make use of this metrics to count the active workers under gunicorn.

I use the app pattern but found that when the gunicorn re-spawn a new worker, the `pid` of the old one still being export, would you give me some idea how to achieve the counting or remove the old `pid` from the metrics?

[2020-03-27 08:29] rycus86 commented on #47
Hi, that sounds like a tricky one. 🙂

Don't know a definite answer, but you could perhaps try a metric with a randomly generated tag set on startup, perhaps uuid, then count the unique active metrics of those. Not sure how to determine if the metric is still alive, but perhaps if you define it as a counter and set it to the current time for example, then you could detect when it stops increasing?

[2020-03-29 00:15] DeoLeung commented on #47
I came up with something like this
[code]
and with the prometheus query
[code]
most of the time is ok, when spawning a process may see a few extra counts for a minute(since I scrape it every 5s, the counter just keeps increasing until `max_requests`)

[2020-03-29 00:30] rycus86 commented on #47
Sounds good, assuming PIDs are not reused too often. 🙂 Good trick! :+1:

[2020-03-30 13:40] trallnag opened #48 "Share `metrics` object across modules"
Hello, my API is spread across several Blueprints and namespaces while the `metrics` object gets instantiated in my main `app.py`. Is there a built-in way to share the object across modules, maybe something like `current_app` in Flask?

`app.py`
[code]

I have seen the app factory example, but there everything is set up in its own `app_setup.py`. But I cannot import `app.py` in my APIs as this wou

[2020-03-31 09:30] rycus86 commented on #48
Hi,
I don't have a definite answer for you, but can try to have a look if your code ia public.
Otherwise, I'd still try the app factory pattern probably, where you could have one module creating a metrics object with `None` as the app, then call `init_app` later from the module that creates it? You do have one Flask app object right, if I got that correctly?
I'm not a 100% app factory with `init_a

[2020-03-31 19:38] trallnag commented on #48
Thanks for the answer, I just did it like proposed in my initial post and it seems to work fine.

On another note, you've made a pretty cool exporter and I like the decorator approach. New to me, always though the `@` were just annotations like in Java :grin:.. far from that. One can even use it apart from instrumenting the Flask API

[2020-03-31 19:38] #48 closed

[2020-03-31 20:01] rycus86 commented on #48
Thanks for the kind words, and I'm glad you've found a solution! :+1:

[2020-04-06 13:56] cal97g opened #49 "Improvement: prometheus_multiproc_dir"
Could this variable not be read from the application config? You could pass this value to any child process to avoid having it set within the environment. Would be nice for tests etc.

[2020-04-06 14:09] #49 closed

[2020-04-06 14:10] cal97g commented on #49
**** Prometheus' python implementation is at fault for this

[2020-04-20 20:07] jichu20 opened #50 "control metrics"
Hi.
Is it possible to use the library to generate metrics within methods and not just as annotations?

Thanks!!

[2020-04-20 21:10] rycus86 commented on #50
Hi, I *think* you can put decorators on regular methods too, not only on Flask request handlers, but I'm not a  100% sure - a quick test would tell.

You can't use them within methods or as variables to set/increment if I remember correctly, but if you use `prometheus_client` objects like Counter or Gauge, those metrics would be exported by this library automatically too.

Does this help?

[2020-04-21 18:24] jichu20 commented on #50
hi i have tried to use the prometheus client directly and the metric is exported correctly.

Thank you

[2020-04-21 20:22] #50 closed

[2020-05-11 00:40] rycus86 commented on #47
Closing this now, but feel free to comment/reopen if you have any further questions on this. Thanks!

[2020-05-11 00:40] #47 closed

[2020-05-12 20:09] lordlabakdas opened #51 "need help on usage of the tool"
I have a flask app running at port 5006.

I have included the below information:

[code]

I also have Prometheus running on a docker container on port 9090. I have Grafana pulling these events on a dashboard listening to events on http://localhost:9090.

I dont see the activity on Flask propagating to Prometheus and Grafana. Is there something I am missing in my setup?

[2020-05-13 09:06] rycus86 commented on #51
Hi!

Your example looks OK, just make sure the `if __name__ == '__main__':` block is at the end. If you hit http://localhost:5006/metrics does that return a response with a bunch of metrics?
If you do, check your Prometheus configuration if that's correct. If you can post the relevant bit here and perhaps describe your setup a bit, I can try to have a look a help maybe.

[2020-05-13 15:12] lordlabakdas commented on #51
Yes, confirmed that the `if __name__ == '__main__':` block is at the end.

This is my POSTMAN snapshot for the '/metrics' API
![image](https://user-images.githubusercontent.com/1252659/81830112-adb84380-9509-11ea-891c-683336b97ba3.png)

But, the prometheus server (both using Docker or native) does not seem to be receiving the events:

[code]

The `prometheus.yml` file is as below:

[code]

[2020-05-14 08:19] rycus86 commented on #51
OK, your Flask metrics are working OK then. The problem is that you haven't configured your Prometheus to scrape the Flask app, currently it only scrapes its own metrics.
Change the last section in the config like this:
[code]

[2020-05-15 22:41] lordlabakdas commented on #51
Thanks a lot for the pointer. It is working now.

[2020-05-15 22:41] #51 closed

[2020-06-04 16:13] posix4e opened #53 "Love the tool, but one big problem, disk usage"
I filled up my drive with gauges and counters without any other than the default configuration. It's for a very busy website and we blew through 10GB of space in one day on every node. Perhaps I have configured something incorrectly?

[2020-06-04 20:30] rycus86 commented on #53
Hi! Sorry to hear that! Do you know what filled up your disk? My guess would be multiprocessing files that keep metrics combined on the same machine, and if that's the case, we can look into trying to handle that somehow.
If not, then could you share some details about your configuration to work out what could have gone wrong?
Thanks!

[2020-06-04 22:39] posix4e commented on #53
Actually i bet it's because I'm using multiple workers and GEVENT.

[2020-06-05 14:25] arthurlm opened #54 "http.HTTPStatus not cast to int in status field"
Hi

I have the following code that use `http` module for readability purposes.

[code]

Flask perfectly understand `http.HTTPStatus`. It is an `enum.IntEnum`, so it is cast as `int` implicitly.
See bellow curl request / response:

[code]

However, metrics generated does not cast `response.status_code` as `int`.
See:

- https://github.com/rycus86/prometheus_flask_exporter/blob/bed9760b59ebd2955f68d

[2020-06-05 22:12] posix4e commented on #53
So i switched to just a normal synchronous worker. I'm curious when should I clean up these logs? Do I need to terminate my gunicorn? Perhaps gunicorn could handle deleting some of the files?

[2020-06-11 08:14] agjendem commented on #54
I ran into the same issue more than a year ago and solved it like this:

https://github.com/agjendem/prometheus_flask_exporter/commit/1d8e83491628a0507a873da86c669b4ecf7dcb1a

I didn't provide a PR (yet) as I failed at actually replicating the issue with a test case, and I'm not sure why. All tests I made with HttpStatus were happy without my modifications to the code. We did see (and fix) the pro

[2020-06-11 08:59] rycus86 commented on #54
Sorry, this fell off my radar... I think @agjendem 's suggestion looks pretty good, I can try to have a look at the tests. Though without reproducing it, it might difficult to work out whether the fiz would help you or not.

[2020-06-11 11:45] #54 closed

[2020-06-11 11:47] rycus86 commented on #53
Can you add some more details? Perhaps this is something that should be called out in the README.
We can also try to work on a fix to avoid this problem, I'm just not sure I get the context and how to reproduce it.

Also, have you checked the https://github.com/prometheus/client_python library perhaps to see if they saw the same problem with Gevent and if they worked anything out for it?

[2020-06-11 11:57] rycus86 commented on #54
This should be now working in version `0.14.0` for the default metrics. Thanks @arthurlm and @agjendem ! :partying_face:

[2020-06-17 08:32] rohanmohapatra opened #55 "_total suffix getting added to metric.counter"
[code]
When I try doing this, the metric comes as `by_path_counter_total`, I don't understand why that is happening?

[2020-06-17 08:37] rycus86 commented on #55
We get this from the official Prometheus client library, see https://github.com/prometheus/client_python/blob/master/README.md#counter

[2020-06-17 08:50] rohanmohapatra commented on #55
Thanks

[2020-06-17 08:50] #55 closed

[2020-06-17 08:52] rohanmohapatra opened #56 "I want to pass a metric to the gauge"
How to create a gauge metric for a value?

[2020-06-17 09:04] rycus86 commented on #56
From the example in the README at https://github.com/rycus86/prometheus_flask_exporter/blob/master/README.md#usage

[code]

[2020-06-24 12:50] warmfusion opened #58 "Unable to have common metric key with labels to separate type over different routes"
Setup;
1. Two (or more) API handling methods with their own routes
2. metric registered with common name `auditls_api`
3. use of `type: label` to separate values in prometheus later

[code]

## Expected

Metrics are collected for each API route, and exposed to prometheus such that I might do queries like  `sum by (type)(rate(autidls_api_total[5m])` so I can view the relative distribution over all

[2020-06-24 22:31] rycus86 commented on #58
Hi @warmfusion ,

Prometheus doesn't support declaring the same metric twice, that's why you get the error. Arguably, this library could help you merge them together, but I'm not sure the underlying client library supports that, I can have a look.

For your particular use case, you should be able to do this just like the the README suggests:

[code]

Does this help?

[2020-06-29 03:55] DeoLeung opened #59 "corrupted buffer"
seems to be problem of the low level library, shall this library handle this exception?

[code]

maybe happen because we use docker to run our flask app, since writing files to disk invoke a lot of disk io
we map the folder into `tmpfs`

[code]

[2020-06-29 08:04] rycus86 commented on #59
Thanks for reporting this! It does seem like a problem with mmap (maybe) in the underlying library.

Does this happen all the time? At the start or later? Can you check if you `/tmp` is running out of space perhaps? I think Docker gives you something small like 64MB by default if I remember correctly.

[2020-06-30 03:13] DeoLeung commented on #59
it happens later, and just once last few months, I restarted the process.

I will have a look at the tmpfs size if it happens again.

[2020-07-09 04:34] bilalbayasut opened #60 "adding account info into labels"
setup:
1. using make_app() factory pattern

question:
1. I want to add a label containing account_id :
[code]
but obviously, I get `current_user` :`None` because metrics.init_app(app) and make_app() is called before the app get account info .

any idea on how to set label containing account_id in make_app() ?

I have tried using `lambda: request.account.id` but it doesn't give me the result, rathe

[2020-07-09 11:10] rycus86 commented on #60
The static labels are static at the moment unfortunately. Are you trying to add this label to ALL metrics in this app?

You could also consider a default metric to apply to all endpoints:
[code]

Does this help?

[2020-07-09 11:29] bilalbayasut commented on #60
thank god, I think I'm crazy, yes it is static , there is no other way, yet. thanks for responding @rycus86 . the default metric unfortunately is less usable in my case, because I want to filter based on account_id in my metric in grafana later on

[2020-07-09 11:31] rycus86 commented on #60
I guess we could look at supporting lambdas in static labels (default labels maybe?), can't remember now why I made them static initially, but if it's easy to change that I'm happy to try.

[2020-07-09 11:34] rycus86 commented on #60
Had a look at the code, I think it can work with potentially not too many changes. I'll see if I can find some time this weekend to have a go at it.

[2020-07-09 11:35] bilalbayasut commented on #60
yes, adding our own default labels will be extremely useful. so that user can filter out their metric based on label ie {account_id: 123}. btw, thanks , its beautiful lib

[2020-07-09 11:47] Echronix opened #61 "make_response does not work with pydantic"
# Setup:
The API I'm working with uses Connexion and Pydantic as return wrapper for type safety.

# Problem:
Connexion can handle pydantic classes and is able to parse them into a proper response. I.e. that a normal response could be a single pydantic dataclass object even without any status code. (https://pydantic-docs.helpmanual.io/usage/dataclasses/)
As soon as I use a decorator on such an endp

[2020-07-09 11:51] rycus86 commented on #61
Thanks for the report! I can try to have a look this weekend. Could you please provide a minimal failing test to verify any changes on?

[2020-07-09 15:22] Echronix commented on #61
Thanks for the quick answer.

# Example.
main.py:
[code]

endpoints.py
[code]

my_api.yaml
[code]

I'm Sorry for that not so minimal example. Since Connexion needs a yaml to work with and also reimports the file of the endpoints, the endpoints needs to be in their own file in order to initialize the histogram only once. Anyway you should be able to run this locally if you install Pydantic and Conn

[2020-07-09 22:54] rycus86 commented on #61
I'd rather avoid the jsonifying, but curios to see how you'd implement it if you have time.

[2020-07-10 08:18] paurakhsharma opened #62 "The function either returned None or ended without a return statement while using with flask_restful"
`flask_restful` supports returning `None` from the view function, but I am getting error this error when I use `metrics` for endpoint.

e.g

[code]

It works fine if I don't use `@by_path_counter` decorator, and returns `null` in the response.

But when I add the decorator, I get this error.
[code]

Is there any way, I can work around this? (I have to return `None`)

Any kind of help will be highl

[2020-07-10 08:19] paurakhsharma commented on #62
I am using `prometheus-flask-exporter` version `0.14.1`

[2020-07-10 08:26] rycus86 commented on #62
Thanks for the report! I'll have a look, sounds like a bug potentially.

[2020-07-10 08:58] paurakhsharma commented on #62
Thank you for the quick reply :slightly_smiling_face:

[2020-07-10 12:01] rycus86 commented on #61
It looks like https://github.com/rycus86/prometheus_flask_exporter/blob/connexion-support/prometheus_flask_exporter/__init__.py#L754 should work, https://github.com/rycus86/prometheus_flask_exporter/blob/connexion-support/examples/connexion-pydantic/main.py has an example.

I'll sort out some CI issues then I'll cut a new release with it. :tada:

tl;dr:
[code]

Then everything should work as you'd

[2020-07-10 12:58] Echronix commented on #61
That should solve the problem Indeed. Thank you for the quick help and keep up the good work :+1:

[2020-07-10 13:05] Echronix commented on #61
But before we close this thread is there a  to apply this to the UWsgiPrometheusMetrics ?

[code]
My original setup looks like this... And not sure right now if how I can make this work if the app initializes the UwsgiMetric.

[2020-07-10 14:02] rycus86 commented on #61
Yep -- though a bit more cumbersome --, you can use `UWsgiPrometheusMetrics(app=app, export_defaults=False, response_converter=FlaskApi.get_response)` but let me know if that doesn't work once the new version is released. (just preparing it now)

[2020-07-10 14:17] #60 closed

[2020-07-10 14:17] #62 closed

[2020-07-10 14:19] rycus86 commented on #60
Managed to make this work now, the `account_id: lamdba: request.account.id` form should work.
Also renamed `static_labels` to `default_labels` (though the former will still work).

Hopefully this helps!

[2020-07-10 14:19] rycus86 commented on #62
If you switch to `RESTfulPrometheusMetrics` in the new `0.15.0` version, this should now work out of the box.

[2020-07-10 14:20] rycus86 commented on #56
Closing this old issue, but feel free to open a new one if you have any problems or questions!

[2020-07-10 14:20] #56 closed

[2020-07-10 14:21] rycus86 commented on #58
Closing this old issue, but feel free to reopen (or open a new one) if you have any problems or questions!

[2020-07-10 14:21] #58 closed

[2020-07-10 14:22] rycus86 commented on #59
Closing this issue for now, but feel free to reopen (or open a new issue) if you have any new information!

[2020-07-10 14:22] #59 closed

[2020-07-10 14:23] rycus86 commented on #53
Closing this old issue, but feel free to open a new issue (or reopen this one) if you find any new information on this!

[2020-07-10 14:23] #53 closed

[2020-07-11 10:20] bilalbayasut commented on #60
thank you, you rock! @rycus86

[2020-07-13 05:49] paurakhsharma commented on #62
@rycus86 thank you so much, this does solve the problem.
But I have one problem I need to implement application factory method because of circular dependency issue,

Previously I used to do
[code]

Any tip on how I can achieve something similar while using `RESTfulPrometheusMetrics`

[2020-07-13 05:55] rycus86 commented on #62
That might need some changes to support it nicely. 🤔
Until then, you should be able to use it like this:
[code]

[2020-07-13 09:39] Echronix opened #64 "ConnexionPrometheusMetrics - mimetype"
Hey there,
sorry that I bother you again. The new Connexion release works mostly fine with my Code but I discovered a new problem.
Calling the get_response method from Connexion without mimetype as parameter leads to the warning:
[code]
That also leads to the problem, that the response.json part is equal None and API response can only be found in the response.data part.

# Setup:
Updated example f

[2020-07-13 09:58] rycus86 commented on #64
Hm, that's interesting, not sure how it's handled there implicitly. Thanks for reporting!
Would following the recommendation in the warning help here?

[2020-07-13 10:25] Echronix commented on #64
This probably refers to the possibility of defining endpoints like this:
[code]
But I tried this already this is not recognized by the function itself. I think this makes the API call the response function with:
[code]
If the function is called with that it will work. I thought about an additional kwargs parameter like you added it before. But the problem there would be that maybe not every Endpoi

[2020-07-13 10:45] rycus86 commented on #64
I think I saw the default mimetype set to json in the Connexion source code, maybe that's what's missing here. I'm starting to have some doubts whether I implemented the decorators the right way here (as they seem to process the response before the wrapping framework), so I might have a look at that later this week, time permitting.

Until then, the best I could offer is to switch back to plain `P

[2020-07-16 07:03] Younes-Benotmane opened #65 "No metrics access"
Hi, does anyone have any idea how to use this export with more than one object.
Like in this example:
[code]
the access to the api is operational via resources. But when I try to add resources for monitoring (URL/metrics). I don't have access to anything
it's for an api contained in docker. I'm not a developer, I'm an admin sys. If anyone has an idea i'm interested.

[2020-07-16 11:02] rycus86 commented on #65
Can you tell what have you tried so far?
I assume `PrometheusMetrics(app)` and that didn't work?

If you explain what URLs belong to the app and what URL do you want the metrics endpoint on, we should be able to set up an example to verify the setup that works.
I don't know off the top of my head how is this supposed to work with multiple Blueprints, but happy to try and help you find out.

[2020-07-16 11:58] Younes-Benotmane commented on #65
Thank you for the prompt response rycus86.
- Yes, I have already tried removing the blueprints and using the objey app.
I didn't code the app. So I have to adapt the probe to work with it.
- I tried to export again but I get a 404 error each time. If I put in the original code without adding probes would that help ?
I also checked the orders to be added. But nothing to do. When I try to access the

[2020-07-16 13:25] rycus86 commented on #65
You could try registering it on one of the blueprints (or a dedicated blueprint) by skipping the original metrics endpoint with `metrics = PrometheusMetrics(app, path=None)` then calling `metrics.register_endpoint('/metrics', blueprint)` to see if this works, I'm not a 100% sure.
If it doesn't work, I'll try to set up a minimal example when I can.

As a side note: what URL does your Prometheus ins

[2020-07-17 09:00] Younes-Benotmane commented on #65
thank you for your help, rycus. But I found another solution by going through another export available on pipy (knotty). I didn't need to create any metrics. I simply removed the 2 blueprints to replace them by app and copy-paste the available code.
Thanks again.

[2020-07-17 09:00] #65 closed

[2020-07-17 09:09] rycus86 commented on #65
I'm glad it all worked out for you! 👍

[2020-07-21 12:24] whatnick opened #66 "Tracking request query parameters"
I recently replaced custom Prometheus metrics code in [datacube-ows](https://github.com/opendatacube/datacube-ows) with this library. However most of the usage of this flask application is differentiated using get request query parameters as opposed paths or endpoints. What would be the relevant decorator / custom function to group by query parameters be.

Relevant code changes here : https://gith

[2020-07-21 15:45] larrycai opened #67 "ConnexionPrometheusMetrics - less metrics?"
I tried the `connexion-pydantic` example in docker env.

[code]

And when I checked the `http://localhost:4000/metrics`, i only got some metrics

[code]

If it is normal flask application, I got lots of metrics with `flask_` like

[code]

Anything I missed here

[2020-07-21 19:27] salapat11 commented on #48
@trallnag, my APIs are spread across multiple namespaces and files.  Can you share how you got around sharing the metrics object across each API file?  I am having challenges passing the Flask application object that is required to initialize metrics.

[2020-07-21 19:57] trallnag commented on #48
@salapat11, create a file `telemetry.py` (or use the `__init__.py`, whatever) where you use the app factory pattern just like @rycus86 recommended.

[code]

In your module where you create the "root" Flask object:

[code]

In all other modules where you want to use the metrics object:

[code]

[2020-07-22 11:24] rycus86 commented on #67
Hi @larrycai

That example was provided to me if I remember correctly and has `export_defaults=None` set in the `main.py` file.
If you drop that argument, or change it to `export_defaults=True`, it should work as you expected it above.

[2020-07-22 11:33] rycus86 commented on #66
Hi @whatnick

Have a look at a relevant test in `test_group_by.GroupByTest.test_group_by_func`. You can provide your own grouping function that groups requests by allowed query parameters for example (though I'd be cautious about potential cardinality there :) ).
[code]

Another option is to use default labels that are added to every metric managed by the library:
[code]

This one would keep the `

[2020-07-22 11:54] rycus86 commented on #67
This actually fails currently, as I didn't realize we pass around a Connexion `FlaskApp` object, not a Flask application.

[2020-07-22 11:59] rycus86 commented on #62
Started building a new `0.15.1` release, in that you can do it like this:
[code]

[2020-07-22 12:05] paurakhsharma commented on #62
This looks great, is it possible we pass `api` later as well?
like,
[code]

[2020-07-22 12:56] salapat11 commented on #48
@trallnag , thanks for taking time to answer my question.  I was able to initialize the metrics object using the factory pattern with the example provided.  I imported the metrics object in the module I want to use and added a counter.
`from telemetry import metrics`
`@metrics.counter('user_count', 'number of users', labels={})`
I can see TYPE and HELP for "user_count" on the metrics page but the

[2020-07-22 13:53] #64 closed

[2020-07-22 14:00] rycus86 commented on #48
Maybe it's an obvious question, but have you requested the endpoint you put the decorator on?

[2020-07-22 14:06] rycus86 commented on #64
So, I couldn't solve this properly, but I made it closer to the Connexion defaults.
The `ConnexionPrometheusMetrics` constructor now accepts a `default_mimetype` parameter that defaults to `application/json` if not set, this is in line with the default mimetype in Connexion.

Unfortunately, the actual mimetype (based on the content types in the OpenAPI spec) are quite well hidden in Connexion and

[2020-07-22 14:08] rycus86 commented on #62
Yeah, good point!
In `0.15.4` you'll be able to do:
[code]

[2020-07-22 14:09] rycus86 commented on #67
This should be fixed in `0.15.4`, Connexion should now work with `export_defaults=True`

[2020-07-22 14:12] rycus86 commented on #61
I just realized this will still not work nicely with UWsgi and the recent Connexion response converter. :man_facepalming:
Will try to think about how to be able to compose the two.

[2020-07-22 14:19] paurakhsharma commented on #62
You are just awesome. Thank you so much this helps me a lot :relaxed:

[2020-07-22 15:23] salapat11 commented on #48
I see the issue now.  I had the decorator at the class level instead of the method level.  It works as expected.  Thanks again for your time @rycus86 , @trallnag .

Thanks for putting this library, @rycus86 .  Very easy to integrate and got it working in few mins.

[2020-07-22 20:20] larrycai commented on #67
Yes, i tested as well with latest version and update line with `export_defaults=True`

[code]

[2020-07-22 20:20] #67 closed

[2020-07-22 20:33] larrycai opened #68 "upload grafana dashboard for easy installation?"
Is it possible to upload the sample grafana dashboard to central place https://grafana.com/grafana/dashboards?

Then it is easy for end-user to try it just type `dashboard id`.

To me, it is good for demo and try. Otherwise I need to copy/paste the json files.

If there is no plan for you, can I upload your sample code there?

Thank you

Rgs, Larry

[2020-07-22 22:16] rycus86 commented on #68
Yeah, that's a good idea!
I can upload it later and put it in the README, or I'm happy to accept a PR from you if you'd like to do it. 🙂

Thanks!

[2020-07-23 09:13] larrycai commented on #68
I had a quick PR for it, mainly give you the working dashboard can be uploaded, i tried as https://grafana.com/grafana/dashboards/12695 and verified locally, you can tune for folder and description.

What I did is just
* move to dedicated folder, could contain several dashboard jsons
* be able to select correct prometheus source
* replace example with flaskapp

[2020-07-26 22:01] whatnick commented on #66
Thanks for the response. Could this be moved to the docs for this project ? I will make a PR when I get time. What does cardinality here mean ? loss of order of query parameters ? The labels approach seems more interesting.

[2020-07-26 22:13] rycus86 commented on #66
See https://www.robustperception.io/cardinality-is-key about the cardinality problem. The tl;dr is that if you don't control the values you put in the metrics labels, your users can generate as many different values as thry want, and each metricname+labels combination will be an individual time series in Prometheus.

[2020-07-26 22:28] whatnick commented on #66
Ah right it causes metric explosion since query parameters can be anything. Will attempt to restrict to a finite set during metrics generation.

[2020-07-29 12:41] larrycai commented on #68
@rycus86 my link in grafana is just trial, you can help to upload the official one and provide more snapshots.

Then we can close this ticket

[2020-07-29 13:05] rycus86 commented on #68
OK, thanks! I'll try to get to it this week and figure out how to do it. 🙂
Thanks a lot for the help!

[2020-07-31 07:49] shakeel-appyhigh opened #70 "Add a custom function timer metric for flask restplus"
Hi,
I have an ML model deployed on Flask restplus which classifies incoming text and also adds some other data  through simple utility functions(without using the ML model). They are running at the same endpoint. I was able to run the default metrics and view them in in built prometheus dashboard and also grafana. But I also want to view a histogram of the time each of the functions take to proces

[2020-07-31 07:57] rycus86 commented on #70
Hi,

If you want to measure something that is not a Flask view function, you can use the underlying Prometheus client library, and you'll get them automatically exposed on the same metrics endpoint. See https://github.com/prometheus/client_python#histogram how to add a Histogram with that library.

Hope this helps?

[2020-07-31 22:30] shakeel-appyhigh commented on #70
Thank you. It works. Your repository is amazing.

[2020-07-31 22:30] #70 closed

[2020-08-04 08:11] safetylab opened #71 "Requests over 100mc"
Hello can you tell me grafana formula for your dashboard to check all requests over 100mc?

[2020-08-04 10:43] rycus86 commented on #71
You can see an example for `250ms` here: https://github.com/rycus86/prometheus_flask_exporter/blob/master/examples/sample-signals/grafana/dashboards/example.json#L616

[code]

`le` is the bucket here for the histogram (or summary?) so 100ms would be `0.1`. Does this answer your question?

[2020-08-04 16:11] bigskygroup commented on #71
nope. Example with 250 ms shows all requests UNDER 250 ms. I need OVER 100 ms

[2020-08-04 16:11] safetylab commented on #71
nope. Example with 250 ms shows all requests UNDER 250 ms. I need OVER 100 ms

[2020-08-04 22:37] rycus86 commented on #71
Have you tried subtracting those from the total count? Something like this:
[code]

[2020-08-12 18:18] deepbrook opened #72 "No auto-expositioned exceptions summary for endpoints?"
Great library! I'm curious why exceptions in endpoints aren't auto-expositioned as well, though ?

I'd like to use this lib, but the prospect of having to add an exception summary metrics on each of my endpoints kinda sucks (I'm exceptionally lazy).

Any reason for skipping this in the defaults? If no, I can supply a PR to add it.

Cheers!

[2020-08-12 22:32] rycus86 commented on #72
Thanks @deepbrook !
Yeah, I haven't thought of that. You should be able to configure default metrics (though I'm not totally sure if you can extract the exception in the lambda to provide the label value).
If you have time, I'd be happy to look at a PR adding default support for it. 👍

[2020-08-13 07:31] deepbrook commented on #72
Alright, I'll have a look. While we're at it: The total requests per endpoint are not tracked by default either, is that true?
Is that something you'd merge as well? There's not much point in tracking total requests to the app if I can't filter by endpoints, imo.

[2020-08-13 07:52] rycus86 commented on #72
Hm, yeah haven't really thought of that either, it's interesting no one else wanted it so far. I guess you can get it from the counter part of the histogram at `flask_http_request_duration_seconds` if I remember correctly.

[2020-08-13 08:28] deepbrook commented on #72
Really? Odd. RED metrics are pretty much *the* metrics to have when monitoring a web app, if nothing else. I'm prepping a PR atm, hopefully it's useful.

[2020-08-14 15:23] safetylab commented on #71
doesnt work - dont show requests over 100 mc

[2020-08-15 01:40] DeoLeung commented on #59
encountered this again, and I think I found the cause.

we have a 2gb mem limit over the container, when the process reach the limit, docker restarts the container.
however, after restarting, the `*.db` files are not cleaned up, if the restarts happened to be very frequently, soom the stale files will reach around `24mb` then this exception is raised

[2020-08-15 03:11] rycus86 commented on #59
Thanks a lot for the report!
Hm, so you don't get a new container, only the existing one gets restarted? That would explain it, yeah.
You could potentially try giving your containers a tmpfs mount and pointing the Prometheus tmpdir there? You probably know best how to resolve it though. 🙂

[2020-08-24 12:44] yarix opened #74 "question: is it possible to replace the default histogram with summary?"
hi
is there an easy way to replace the `flask_http_request_duration_seconds` from HISTOGRAM to SUMMARY?
the default histogram buckets are not appropriate to my use case, and generally histogram should be customized to specific use cases.

from my experience with default Prometheus exporters (in other languages eg. Java/SpringBoot), the basic metric for http is Summary (not Histogram).

thanks

[2020-08-24 22:44] rycus86 commented on #74
Hi!
There isn't a flag to do that, but you can set `export_defaults=False` then register your own Summary with `register_default`.
Perhaps this could also be a flag in the future, but at the moment it's not available, so you'd need to use this workaround.

[2020-08-25 19:38] yarix commented on #74
thanks.

[2020-08-25 19:38] #74 closed

[2020-08-26 11:25] rycus86 commented on #74
In version `0.16.0` (currently releasing) you can now pass in `default_latency_as_histogram=False` when you create the metrics object to get a summary instead of a histogram for request latencies.

Just to circle back to this one, you can override the actual buckets with the `buckets` parameter, though it wasn't documented in the README, but I have added it now.

[2020-08-26 11:37] rycus86 commented on #72
This is now released in version `0.16.0`

[2020-08-26 11:37] #72 closed

[2020-08-26 12:06] #61 closed

[2020-08-26 12:08] rycus86 commented on #61
OK, interestingly, Connexion works behind uWSGI without having to add any extra wrapping. :man_shrugging:
I've put up an example here: https://github.com/rycus86/prometheus_flask_exporter/tree/master/examples/uwsgi-connexion

In the https://github.com/rycus86/prometheus_flask_exporter/blob/master/examples/uwsgi-connexion/Dockerfile you can see we run the Connexion app with `uwsgi --http 0.0.0.0:40

[2020-08-30 13:52] boarik opened #75 "Can't pass a registry to `GunicornInternalPrometheusMetrics` consturctor."
Issue: getting `TypeError: __init__() got multiple values for keyword argument 'registry'` when trying to create a `GunicornInternalPrometheusMetrics` while providing the `registry` keyword argument.

If I'm not mistaking, providing a registry in the constructor call to  `MultiprocessPrometheusMetrics` will cause this error for any attempt such attempt, since we pass to the `super.__init__` call b

[2020-08-30 20:47] yarix commented on #74
thanks!

[2020-08-31 11:48] #75 closed

[2020-08-31 12:59] rycus86 commented on #75
Version `0.16.1` is building now and will be released once finished.
That will include the fix for this.

Thanks again @boarik !

[2020-08-31 13:21] boarik commented on #75
Pleasure :)

On Mon, Aug 31, 2020, 15:59 Viktor Adam <notifications@github.com> wrote:

[2020-09-01 16:25] bburtin opened #77 "Version mismatch between GitHub and PyPI"
I think there may be a version mismatch between GitHub and PyPI.  PyPI lists prometheus_flask_exporter at version 0.16.4, but **setup.py** at the tip of master specifies that the version is 0.16.1.  Is this intentional?

[2020-09-01 20:09] rycus86 commented on #77
Thanks a lot for letting me know! I had some trouble getting the deploy through Travis, looks like I forgot to bump the version number properly. I'll release a new version later.

[2020-09-01 20:11] bburtin commented on #77
No problem.  I really appreciate your support of this package!  It makes it really easy to collect metrics from a Flask server.

[2020-09-02 12:30] rycus86 commented on #77
`0.16.5` is building now on Travis, then this should be sorted out hopefully. Thanks again!

[2020-09-02 12:30] #77 closed

[2020-09-09 12:53] johri21 opened #79 "Increased P99 latency"
I am using `GunicornInternalPrometheusMetrics` for capturing Flask metrics from our application.
As stated in the documentation I added the below code:
[code]
And initialized `GunicornInternalPrometheusMetrics` on our main server.py file. Post doing it and deploying on production the P99 latency rose as can be seen in the graph. The plateau is the increased latency while the deployment took place.

[2020-09-09 13:25] #79 closed

[2020-09-09 13:36] rycus86 commented on #79
@johri21 did you work out what happened?

[2020-09-10 15:03] Drvanon opened #80 "Measuring resource consumption by endpoints"
Hi, thank you so much for this project. It has already lead to so much insight into our application even though my understanding of the whole flask-exporter, prometheus, grafana stack is very minimal.

At the moment I am trying to analyse the resource consumption per endpoint in our application and I am not really sure how to go about this. For context: I am using a gunicorn server behind nginx ho

[2020-09-11 10:53] rycus86 commented on #80
Hi @Drvanon - thanks for the kind words! 👍

Measuring per-thread or per endpoint CPU stats mihht be hard in Python, I agree. Your approach sounds like one where you could experiment, see what results it would give you.

An alternative could be running a single instance on a server with not too many other things running next to it, then hit the same endpoint 10/100/1000 times and see the total proc

[2020-09-11 12:16] Drvanon commented on #80
It does help in the sense that I now know that I shouldn't look much further, or expect that it would be a simple solution, though I am a bit disappointed that there is not a "real" way of solving this.

[2020-09-11 12:16] #80 closed

[2020-09-15 01:33] riyadparvez opened #81 "How to secure the scrape endpoint?"
As the title says, how to secure the endpoint with package like Flask-HTTPAuth https://github.com/miguelgrinberg/Flask-HTTPAuth?

[2020-09-15 11:07] rycus86 commented on #81
Good question! Let me investigate a bit and get back to you on this (hopefully later this week).

Until then, an alternative could be having a reverse proxy in front of the Flask app doing the basic auth on endpoints that require it, e.g. an Ngonx protecting the /metrics endooint for example.

[2020-09-17 15:19] Diggs27 opened #82 "Exposing metrics on a different HTTP server causes metrics to be available on every endpoint"
Hi There,

Maybe I am doing something wrong in my configuration, but when I use Gunicorn to expose the metrics on another http server/port taken from the example config:
GunicornPrometheusMetrics.start_http_server_when_ready(5005)

Although I can see the metrics on the "/metrics" endpoint, I can also see the metrics on ANY endpoint. /metrics, /metricsTEST, on /, etc. Is this intended behavior? Do

[2020-09-18 10:22] rycus86 commented on #82
Hello,

Yeah, I think I didn't really get to the bottom of this yet. :)
See the last paragraph in the README at https://github.com/rycus86/prometheus_flask_exporter#multiprocess-applications

[2020-09-18 12:22] Diggs27 commented on #82
Thanks for the quick response. I admit I completely missed that in the documentation. Is this because the `start_http_server` is just calling the underlying prometheus library under the hood? I take it that isn't tied to any sort of flask app?

[2020-09-19 00:05] rycus86 commented on #82
Yeah, that function just calls into https://github.com/prometheus/client_python/blob/3be4faff2223c509b83cb5f2854a9e6d324aa3a7/prometheus_client/exposition.py#L75 which starts a new wsgi server on a new thread.
Can't remember the exact reason now why it was hard to do it with Flask, but there might be ways to improve this.

[2020-09-20 04:37] #81 closed

[2020-09-20 04:40] rycus86 commented on #81
I've now added support for this in the linked commit, will be released shortly in version `0.18.0`. Thanks for reporting this!
See https://github.com/rycus86/prometheus_flask_exporter#securing-the-metrics-endpoint for example usage and https://github.com/rycus86/prometheus_flask_exporter/blob/master/examples/flask-httpauth/httpauth_example.py for a full example.

[2020-09-20 13:47] riyadparvez commented on #81
Amazing! Thanks for responding so promptly.

[2020-10-04 05:08] johri21 commented on #79
@rycus86 Yes, it was because of some other issue, a library update happened which caused the increased the latency

[2020-10-07 08:14] cristifalcas opened #84 "Can I use @metrics.export_defaults()?"
I want to set export_defaults to False, and use `@metrics.export_defaults()` decorator for specific endpoints.

But I'm getting this exception:
[code]

Is this supported?

[2020-10-07 08:20] rycus86 commented on #84
Nope, that is a method of the metrics instance to set up those default metrics once.
What exactly do you want to achieve by adding it to specific endpoints? (by default you'd get it on all of them)
If you want the default everywhere except some endpoints, you can mark those with `@metrics.do_not_track()`

[2020-10-07 09:25] cristifalcas commented on #84
I was trying to make the default to be without metrics and only add it to specific endpoints.

Thank you

[2020-10-07 09:25] #84 closed

[2020-10-30 02:31] dkaoster opened #85 "Adding default_labels to process_cpu_seconds_total and process_resident_memory_bytes"
Thank you so much for this library, it's been extremely helpful.

I'm wondering if there's any way to also include the labels provided by `default_labels` to `process_cpu_seconds_total` and `process_resident_memory_bytes`?

I'm running prometheus flask exporter with `metrics = PrometheusMetrics(app, default_labels={'hostname': hostname})` and I'm seeing `hostname` show up as a label in all the  `f

[2020-10-30 07:35] rycus86 commented on #85
Thanks a lot for the kind words, I'm glad you found it useful! 🙂

Looking at https://github.com/prometheus/client_python/blob/master/prometheus_client/process_collector.py#L51 it doesn't look like it accepts any label configuration parameters, only the prefix can be changed potentially.

[2020-10-30 09:14] dkaoster commented on #85
Sounds good, I'll try another method - thanks for the help!

[2020-10-30 09:14] #85 closed

[2020-10-30 10:01] dan-origami opened #86 "Connexion - Gathering metrics when /metrics is hit"
Loving this module so far, thanks for your work.

Not sure if I am doing something wrong, but I am using `ConnexionPrometheusMetrics`  and it works fine, but what I am struggling with is I would like to gather some metrics (say for example test a database connection) when /metrics is hit.

Adding an `@app.route('/metrics')` doesn't seem to work and it seems register_endpoint doesn't function prope

[2020-10-30 10:11] rycus86 commented on #86
Thanks a lot! Glad you found it useful!

Not sure I completely understand what you're trying to achieve here, sorry.
Are you trying to do additional work when the `/metrics` endpoint is hit by Prometheus scraping?
Or are you having problems getting non-endpoint counters to correctly show their value on the metrics endpoint?

[2020-10-30 11:18] dan-origami commented on #86
Basically this,

Is it possible to trigger some functions/defs when /metrics is hit?

If i was adding my own routes via `@app.route('/some/route')` I could just have them there but not sure how to achieve this for /metrics

[2020-10-30 11:41] rycus86 commented on #86
Thanks for clarifying! I'm super interested in your use-case for this btw if you can share, what sorts of things do you want to hook in there?

One way I can see that you could try is preventing this library exposing the default `/metrics` endpoint, by passing `path=None` when you create the instance.
Then you should be able to create your own routing for your own metrics endpoint, which should do

[2020-10-30 11:43] rycus86 commented on #86
Forgot to say, let me know how this works out for you please!
If it can't work like I suggested, perhaps we could add a hook function to run as part of that metrics method in this library, if you have a strong use-case for it that other could potentially benefit from too maybe?

[2020-10-30 11:56] dan-origami commented on #86
Cheers for the responses, i'll have a play with some stuff today and see how it goes.

Basically I would like to add some metrics about our service that aren't just flask stuff, mostly things around database stats (and other health/sanity based stuff). Unfortunately this service doesn't have just one class managing db connections, but hundreds of functions all doing their own db connections so I c

[2020-10-30 13:44] dan-origami commented on #86
Jumping back in, your idea works, nice one! No idea why it didn't occur to me to do what I had done with the regular prom_client stuff and implement it here as well.... but whatever.

Super clean and nice way of doing it, obviously i've chopped out loads of the extra stuff here like the `metrics_decorator` but i'll go back and add it in now i know it works. Thanks for the swift responses/insight.

[2020-10-30 23:05] rycus86 commented on #86
I'm glad you got it working! 👍
It's a clever way of doing it, if it works for you then it's definitely not horrendous. 🙂

The only thing I could think of is that this way you rely on the Prometheus scraper to trigger metrics collections, not sure if your app can tolerate that going away (due to network issues, etc), or changing scraping intervals.
If you're looking for an alternative, perhaps a `T

[2020-11-02 08:25] #86 closed

[2020-11-20 10:35] bjorxi opened #87 "Metrics are not exposed with the UWsgiPrometheusMetrics"
Hi. I've tried to setup flask exporter with uWSGI, but it doesn't work.
Here is how I do it
[code]

And when I make a call
[code]
curl hangs out without response.

I looked at the code and found that here: https://github.com/rycus86/prometheus_flask_exporter/blob/master/prometheus_flask_exporter/multiprocess.py#L59

path is None, which led me to  this line https://github.com/rycus86/prometheus_fla

[2020-11-20 10:47] rycus86 commented on #87
Hello @bjorxi
That code path should not set the path there if I remember correctly, I think the later start will take care of it.
Have you had a look at https://github.com/rycus86/prometheus_flask_exporter/tree/master/examples/uwsgi ?
That is a working example, where the Python code is more or less the same as yours, perhaps check my Dockerfile and let me know what you do differently with the uwsg

[2020-11-22 13:48] bjorxi commented on #87
Hi. Thanks for the reply.
The example really worked find. Have not figure out yet why in my case it does not work.

[2020-11-22 13:48] #87 closed

[2020-12-03 11:52] rakshitcgupta opened #89 "Prometheus flask exporter in Gunicorn"
Is this needed to be implemented in gunicorn config file?
``
def when_ready(server):
    GunicornPrometheusMetrics.start_http_server_when_ready(8080)

``

I am getting duplication port error.

My config file looks like
`
from consul_integration import register_service,deregister_service,instanceID
from prometheus_flask_exporter.multiprocess import GunicornPrometheusMetrics

hostname = "0.0.0.0"
po

[2020-12-03 22:06] rycus86 commented on #89
Hello @rakshitcgupta

You can have a look at a working Gunicorn example in https://github.com/rycus86/prometheus_flask_exporter/tree/master/examples/gunicorn

Does this help you work out if things are where they need to be on your side?

[2020-12-07 11:20] rakshitcgupta commented on #89
@rycus86 Thanks, That helped I could see the metrics - used gunicorn internal to expose via same port on which the application is running [-](https://github.com/rycus86/prometheus_flask_exporter/tree/master/examples/gunicorn-internal)

Also, I noticed we have this example for grafana dashboard.
Why don't you add that to Official and Community grafana dashboards if not already (I couldn't find it t

[2020-12-08 07:22] rycus86 commented on #89
Happy to hear the examples have helped!

I haven't managed to get around sorting out the Grafana dashboard upload yet. 😞 I think there's an open issue for it, just need to find the time to take care of it. 🙂

[2020-12-10 13:40] bjorxi commented on #87
Totally forgot that uWSGI by default blocks threads, and the metrics server runs in a Python thread. That was the problem. uWSGI has to be ran with the `--enable-threads` or `--threads n` flags.

[2020-12-11 09:07] rycus86 commented on #87
Good find! 🙂

[2020-12-22 03:08] visola opened #90 "Installation with setup.py fails"
I have a Python app and I'm trying to add the exporter but it fails to install using setuptools. The code lives in this repo: https://github.com/VinnieApps/my_finances

I added this to my `setup.py`: `'prometheus-flask-exporter==0.18.1',` and when I run `python setup.py install` I get the following error:

[code]

I'm not an experience Python developer so any help would be greatly appreciated.

I

[2020-12-22 04:20] visola commented on #90
After reverting my changes and trying to recreate my virtual environment from scratch, it sounds like the problem is actually some Python conflict in my Mac OS. I'll close this issue for now.
If I find the solution, I'll post it here later.
Sorry for the noise.

[2020-12-22 04:20] #90 closed

[2020-12-22 04:23] rycus86 commented on #90
No worries, glad you managed to resolve your problem!

[2020-12-22 13:08] visola commented on #90
For posterity, it seems like this is an issue with Mac OS. I fixed this by installing the latest Python 3 from Homebrew:

[code]
1. Then restarting my terminal to ensure that I'm running the new python3.
2. Removed all cached files and virtual environment related files.
3. Recreated everything from scratch with `python3 -m venv venv` and
4. reinstalled my packages:

[code]

Now it works.

[2021-01-25 17:54] 0lucasmoura opened #91 "Exluded paths flag not working with UWsgiPrometheusMetrics constructor"
I'm not sure if this would be the right way to use this atribute, but since UWsgiPrometheusMetrics is an extension of PrometheusMetrics I believe it should work.. The same thing is happening with the `path` atribute. It only works if I set it explicitly as it is shown in the example below on \_\_init\_\_.py.

I have an uwsgi serving flask restplus app built with app factory pattern!

metrics.py
[c

[2021-01-25 18:09] 0lucasmoura commented on #91
Chaging my metrics.py to:

[code]
Seems to have it fixed! Setting the atribute directly fixed the empty `excluded_paths` problem. And other thing the was needed was to explict the `/`character. In regex `\/`.

[2021-03-16 15:40] Anamura opened #92 "add CPU, gc metrics to uwsgi with dedicated port"
Hello!

Do we have option to turn on process_cpu_seconds_total, etc metrics based on example:

metrics = UWsgiPrometheusMetrics(app)
metrics.start_http_server(9100)

Thank you

[2021-03-16 16:38] #92 closed

[2021-04-05 01:13] dtaniwaki opened #93 "Make ConnexionPrometheusMetrics._create_response_converter Public"
I have a Connexion app which runs by `flask run` directly in the dev env, and with gunicorn in the production env, so I can't directly use `ConnexionPrometheusMetrics`. I made the following code to make this package work with Connexion in both env.

For direct run,

[code]

For gunicorn,

[code]

It looks fine, but the method to create a response converter for `ConnexionPrometheusMetrics` is `_`-p

[2021-04-05 04:55] dtaniwaki opened #94 "Provide Easy Way to Ignore Arbitrary URL Access"
I think making metrics of every arbitrary URL is not good for the server memory and prometheus scraping.

So far, I made the following workaround to skip making metrics of unknown URL.

[code]

Should we provide an easy way to configure as such, and maybe, we should make it default?

I'm willing to make a PR once we decide the direction.

[2021-04-05 05:09] rycus86 commented on #94
Hey @dtaniwaki

That sounds like a good idea! I'd probably put it in the after handler where the metrics are collected. We could have a flag to avoid emitting metrics for 404s, or configured response status codes, or for specific URL patterns, etc. Not super sure what's the most convenient and which makes most sense for most.

For your specific use-case, would you just ignore all 404s?

[2021-04-05 05:15] rycus86 commented on #93
Thanks for reporting this @dtaniwaki , I hadn't considered these differences when running locally vs in prod. We can make it non-underscored (though should leave the old version there as well for backwards compatibility). Do you think just exposing it as is makes sense, or is there a better pattern that may be more useful here? Thinking of maybe something like `ConnexionPrometheusMetrics.create_js

[2021-04-05 05:40] dtaniwaki commented on #93
I think we're not sure if the default content type is JSON for all the users.

So, I think the following 2 methods satisfies any user's usecases.

`ConnexionPrometheusMetrics.context_type(content_type)`
`ConnexionPrometheusMetrics.create_response_converter(default_mimetype)`

[2021-04-05 05:41] dtaniwaki commented on #94
My use-case is just ignoring 404s of arbitrary URLs which doesn't include intended 404 from existing endpoints.

[2021-04-05 05:51] dtaniwaki commented on #94
I think the requirements of this feature should be:

- We may NOT want to ignore certain 404 responses.
- We may want to ignore other status codes.
- The feature should be optional.

[2021-04-05 13:57] Anamura opened #95 "disable Histogram, but leave http_request_total counter?"
Hello is it possible to disable Histogram, but leave http_request_total counter?

thank you

[2021-04-05 15:33] #95 closed

[2021-04-06 08:58] maxclac opened #96 "Prometheus service not going up"
Hi!

I am trying the sample-signals example and it seems that my prometheus service does not come up for some reason.
[code]
Here are the logs:

[code]

And of course nothing is displayed on Grafana:

![Grafana](https://user-images.githubusercontent.com/32101438/113685708-0bbbbf80-96b6-11eb-9759-4d58744b8718.png)

What is going on?

Best regards

[2021-04-06 09:02] rycus86 commented on #96
Hi @maxclac

I'm guessing that the Prometheus configuration I have in this repo is no longer compatible with the last Prometheus version. :(
I'm not super sure, will have to check when I get some time in the next week or so. It could also be Docker compose changing something potentially if it's complaining about DNS related problems.

[2021-04-06 09:24] maxclac commented on #96
Simple fix: I used the latest version of the image instead of the v2.2.1 already existing in the docker-compose.yml file. It seems to work now.

[2021-04-06 09:24] #96 closed

[2021-04-08 09:34] qbiqing opened #97 "`prometheus_multiproc_dir` env var to switch to upper case"
Following https://github.com/prometheus/client_python/pull/624 and the release of `prometheus-client` `v0.10.0`, continuing to use `prometheus_multiproc_dir` gives a deprecation warning. However, `PROMETHEUS_MULTIPROC_DIR` is not yet recognized by `prometheus_flask_exporter`.

Error:
[code]

[2021-04-08 20:52] rycus86 commented on #97
Thanks for reporting @qbiqing !
Sounds like this could be a relatively easy fix. I can have a look in a week or so, or I can review a PR if it's more urgent (sounds like it's only a warning at the moment).

[2021-04-09 02:22] ganttee commented on #15
- for uWSGI: https://github.com/rycus86/prometheus_flask_exporter/tree/master/examples/uwsgi

[2021-04-12 12:19] qbiqing commented on #97
Created PR: https://github.com/rycus86/prometheus_flask_exporter/pull/98 First time contributing to this repo so do let me know if anything else is needed!

[2021-04-12 16:23] arvindkumarc commented on #89
I've followed the doc above, but there is only a blank response on `/metrics` endpoint.
The same works fine if it is just PrometheusMetrics.
Are there any debug modes to be enabled to see what's happening?

[2021-04-12 17:01] arvindkumarc commented on #89
Solved it.
The issue was the ```prometheus_multiproc_dir``` variable should be outside from `.env`

Earlier the same was set from `os.environ['prometheus_multiproc_dir']` which wasn't visible to the downstream processes.

[2021-04-17 06:44] tirkarthi opened #99 "threading.Thread.setDaemon has been deprecated in favor of setting daemon attribute directly in Python 3.10"
Ref : python/cpython#25174

[code]

[2021-04-17 06:58] #99 closed

[2021-04-17 10:25] rycus86 commented on #95
I think there's no explicit support for this at the moment, but could be added if you have a use case. As a workaround, you could avoid the default metrics registration, then register your own default using `metrics.register_default`, but again better support for this can be added if that's helpful.

[2021-04-19 06:03] Anamura commented on #95
yes, works great! thank you.

ps it was just some performance issues when app is handle file download,
1000- different urls and no need to analyze each.

[2021-04-26 11:08] mohammadumar29 opened #101 "Get metrics of child functions of endpoints"
Referring to this example `examples/sample-signals/app/app.py`, the metrics of all endpoints are exposed but I want to get metrics of child functions also, like

def wait():
     time.sleep(random.random() * 0.6)

@app.route('/three')
def test_3rd():
    wait()
    return 'ok'

I want to get general metrics of wait() in grafana without updating this query in grafana
`rate(flask_http_request_durati

[2021-04-26 11:26] rycus86 commented on #101
Hello! You could add decorators to non-Flask managed functions using the Prometheus client library that this project also depends on, then those metrics will also be available on the same metrics endpoint. Does this help?

[2021-05-18 23:15] flaker opened #102 "Running with gunicorn does not call my function (metrics.info)"
Hi,

I want to add this metric that represents the age of files my application is working with. For that I just stat the known file and substract from `time.time()` (code is below)

As a flask application, I see no problem, on each call, the metric "model_age" will increment, as expected. As soon as I move to gunicorn, I see the metric show up. But it seems that the first value it has, is the valu

[2021-05-19 10:00] rycus86 commented on #102
Hi @flaker

Do you know if the prometheus_client library handles this properly for `Gauge` (which is backing our `info` here) ?
I see that it supports different multiprocess modes and such and looking at the README in https://github.com/prometheus/client_python it sounds like there may be some extra setup to get this working properly?

[2021-05-19 11:16] jishnu-das-t opened #103 "Alert manger for custom exception from the service"
I would like to alert Prometheus for custom exceptions from the application. I can right rules for basic Memory/Cpu/HTTP errors but not for some custom exception in the application. Is there a way to raise an alert for custom exceptions to Prometheus and then to Alert manager? Any help would be appreciated. Thanks.

[2021-05-19 11:20] rycus86 commented on #103
I haven't played much with AlertManager, but what do the docs say about options here? Is it not as easy as having a counter on number of errors and configuring it to fire off an alert when the increase is too large in a short time window?

[2021-05-19 11:27] jishnu-das-t commented on #103
Thanks for your reply. The documentation doesn't mention any option for sending an alert for custom exceptions from the application. I can create rules for some predefined criteria related to memory/CPU/HTTP requests. But they haven't mentioned any configuration to fire off an alert from the application to prometheus and then to the alert manager. If you can help me with any reference/guidance to

[2021-05-19 11:34] rycus86 commented on #103
I'd probably start at https://prometheus.io/docs/prometheus/latest/configuration/alerting_rules/
It sounds like the `expr` of a rule can be used to configure whatever expression you'd like, so a custom counter's increase per 5 minutes being over a low threshold for example should be doable.

Does this help?

[2021-05-19 15:47] jishnu-das-t commented on #103
Thanks for your help. closing the issue as resolved.

[2021-05-19 15:47] #103 closed

[2021-05-20 01:33] flaker commented on #102
ah, I think my description of the issue is not clear. The problem is that

[code]

stays like that forever. The callback is never triggered or the value never updated

[2021-05-20 08:23] rycus86 commented on #102
Yeah, I thought so, but I don't know if it's a problem woth this library, or with the underlying Gauge in multiprocessing mode. Any chance you could try just creating a Gauge directly amd check if the function is getting called as expected?

[2021-05-20 11:18] jishnu-das-t opened #104 "Running with https"
I would like to run prometheus in domain "https://example.com". I'm not able to find any supporting documentation for hosting prometheus with https encryption.If you have any reference/guide to help me out with this, Please share it . Thanks.

[2021-05-20 22:26] flaker commented on #102
sure. I will try and get back to you.

[2021-05-21 10:22] rycus86 commented on #104
Hi @jishnu-das-t

There are several options you could try:
- it looks like you can run Prometheus with TLS enabled https://prometheus.io/docs/prometheus/latest/configuration/https/
- you can also put it behind a webserver, like nginx, that would do the actual HTTPS termination https://prometheus.io/docs/guides/tls-encryption/ (I'd recommend this)
- something more Cloud native like Traefik can auto

[2021-05-21 16:35] jishnu-das-t commented on #104
Hi @rycus86  I have tried the same way as you suggested, but no luck. I'm getting 502 Bad Gateway error on " https://mydomain.com/prometheus/metrics ".
I was running my flask app behind nginx and below was my configurations. Please help me to get out of this ...
prometheus.yml

![promethues](https://user-images.githubusercontent.com/65754205/119169646-e45f5d00-ba7f-11eb-85cf-8e727e1a336c.png)

doc

[2021-05-21 21:41] rycus86 commented on #104
The https://prometheus.io/docs/guides/tls-encryption/#prometheus-configuration documentation calls out some Prometheus command line parameters to pass in when you run it behind Nginx, e.g. `--web.external-url` and `--web.route-prefix`, I see that you're not setting these in your composefile.

Additionally the Nginx 502 might mean some nginx misconfiguration, check `nginx -t` inside the Nginx conta

[2021-05-30 03:28] EvertonSA opened #105 "flask_http_request_total url_path missing label"
Is it only here or flask_http_request_total does not gather url path labels? How can I enable it?
![image](https://user-images.githubusercontent.com/30481051/120091089-14d97380-c0de-11eb-8df5-bb1aab18168b.png)

[2021-05-30 03:31] EvertonSA commented on #105
tried to use flask_http_request_duration_seconds_sum or flask_http_request_duration_seconds_count but it seems its adding latencies instead of counter. mabye i'm missing something here

[2021-05-30 03:35] rycus86 commented on #105
Hm, that's odd. Can you check what's the output you're getting on the /metrics endpoint in your Flask app?

[2021-05-30 03:35] EvertonSA commented on #105
wil do it in te morning!

[2021-05-30 03:42] rycus86 commented on #105
Oh, just checked https://github.com/rycus86/prometheus_flask_exporter#default-metrics and it looks like the total is supposed to be by method and status only.

The `flask_http_request_duration_seconds` is a histogram, so the `le=+Inf` with the `path` label should give you the total number of requests by path. Is that what you're after?

[2021-06-17 04:30] jishnu-das-t commented on #104
Closing as the configuration got worked. Thanks @rycus86

[2021-06-17 04:30] #104 closed

[2021-07-08 20:27] nayasam opened #106 "gauge values not changing (remains at 0.0)"
I am using PrometheusMetrics (prometheus_flask_exporter) with flask (see code snippet below) to generate gauge type metrics, but its (gauge) value doesn't appear to increase when seen from /metric Prometheus endpoint (i.e., remains at 0.0). What could be the issue? The other types of metrics (i.e., counter, summary, histogram) work fine.

@app.route('/gauge')
@metrics.gauge('metric_type', 'gauge')

[2021-07-08 22:54] rycus86 commented on #106
Hey, that gauge by default tracks the invocations in progress (e.g. increment by one when entering the function then decrement by one when exiting it) which is why it's 0 unless you have some constant load on it, see https://github.com/rycus86/prometheus_flask_exporter/blob/master/prometheus_flask_exporter/__init__.py#L551-L560

[2021-07-09 02:53] nayasam commented on #106
I see.

In Prometheus documentation, a gauge is defined as a non-monotonic variable where its value can go up or down.

So the definition of a gauge in prometheus_flask_exporter is basically the invocations (i.e., requests) in progress and nothing else? i.e., we can't use it to implement a custom gauge based on a call to an external API (i.e., temperature fluctuations --- can be up or down)?

[2021-07-09 03:12] rycus86 commented on #106
You can get a `Gauge` from the underlying library we use and that'll show up on the metrics endpoint like all the "built-in" ones, see https://github.com/prometheus/client_python#gauge

[2021-08-03 11:12] papunmohanty commented on #106
I have tried with the custom metrics(for counting mongo connections) for Gauge.
The value remains 0 all the time
`import subprocess

from apscheduler.schedulers.background import BackgroundScheduler
from prometheus_flask_exporter.multiprocess import GunicornPrometheusMetrics

mongo_connection_counter = 0.0
def get_mongo_connections():
    """
    Function to get Mongo DB Connection from Linux `net

[2021-08-03 12:37] rycus86 commented on #106
Hm, yeah, something is definitely broken with Gauges and `GunicornPrometheusMetrics`, I think the metrics endpoint is not hooked up with the right registry.
In the meantime, could you check whether it changes anything if you call `mongo_connections_gauge.set(mongo_connection_counter)` inside the `get_mongo_connections` function instead of setting a function for the Gauge?

[2021-08-04 05:22] papunmohanty commented on #106
Yes, I have tried with the `mongo_connections_gauge.set(mongo_connection_counter)` and the result is the same, sticking to 0 all the time.

[2021-08-20 00:37] wpietri commented on #17
For whatever reason, the above fix didn't work for me. However, this did:
[code]

[2021-08-20 21:19] nervous-inhuman opened #107 "PrometheusMetrics.info(): Set label value on the fly"
Hello,

I'm trying to expose statistics from my application in a format like this:

[code]

Right now, I can only create a metrics, and pass static label and label value to it, however I see no way to update the label value once the gauge is created:

[code]

However, I'd like to do something more akin to this:

[code]

Is this use-case not supported, or am I missing something?

Thank you.

[2021-08-20 22:07] nervous-inhuman commented on #107
I realized that I can do this, since the returned object from `PrometheusMetrics.info()` is type `Gauge`:

[code]

[code]

This work well and gives me the result I want, provided that I comment out the initial `gauge.set(1)` in `__init__.py:826`, otherwise I get this error from `prometheus_client`:

[code]

[2021-08-20 22:38] nervous-inhuman commented on #107
Would this be sufficient as a fix?
https://github.com/nervous-inhuman/prometheus_flask_exporter/commit/6e7b03939d2c63b2bb55022cf8000214c1ef305f

[2021-08-24 11:21] rycus86 commented on #107
Hi!

For specific metrics constructs, such as `Gauge` I highly recommend instantiating them from the underlying [prometheus-client](https://github.com/prometheus/client_python) library, so you have better control over how that works, rather than using a specialized type here that hasn't got good support for manual changes (as you found out).

[code]

The `custom_gauge` above comes from the underly

[2021-10-01 05:30] jimcmahon opened #108 "Exclude Paths Issue"
Not sure if this is necessarily an issue or I'm just not sure how to do it. My project uses Swagger docs and our API of course receives requests for those webpages. We are not interested in tracking those endpoints. Right now I create a histogram and a counter to run on all of our endpoints using the register_default method. I assume I can use the excluded_paths to not track any metrics for endpoi

[2021-10-01 05:34] rycus86 commented on #108
Can you share more of your config please? Is `by_path_counter` a custom metric you set up? If so, how's that done? Thanks!

[2021-10-01 05:40] jimcmahon commented on #108
`
metrics = PrometheusMetrics(
        app=flask_app, defaults_prefix="/api/v1", export_defaults=False, excluded_paths=["^/swagger/.*$"]
    )

metrics.register_default(
        metrics.counter(
            name="by_path_counter",
            description="Request count by request paths",
            labels={"path": lambda: render_path(request, routes)},
        )
    )

    metrics.register_defaul

[2021-10-01 05:49] rycus86 commented on #108
Hm, I suspect that maybe the exclusion only applies to default paths, let check it later. Thanks!

[2021-10-01 09:00] rycus86 commented on #108
I believe https://github.com/rycus86/prometheus_flask_exporter/commit/73efe45b755d6113cbaf03373662b4ed0b4371cd should fix this for you, let me know if you run into trouble with it. (you'll need to use version `0.18.3` once it's available from https://github.com/rycus86/prometheus_flask_exporter/actions/runs/1294404509)

[2021-10-01 18:18] jimcmahon commented on #108
I see that there is now a new value, exclude_user_defaults. Is that an argument that is used when instantiating the PrometheusMetrics object?

[2021-10-01 21:47] rycus86 commented on #108
It is, but it's enabled by default, so your code should work without any changes to what you posted above (just be on the latest version)

[2021-10-01 22:43] jimcmahon commented on #108
I am still seeing the issue unfortunately:
![image](https://user-images.githubusercontent.com/79717131/135693400-64e8a696-7054-447a-9f62-c8dce4086c8f.png)

My pipfile.lock showing the version of the module:
![image](https://user-images.githubusercontent.com/79717131/135693436-8d49a8d4-44f2-4e1f-9a4e-2aae7587d582.png)

[2021-10-01 23:06] rycus86 commented on #108
Hmmm, that's interesting. Try specifying the parameter in the constructor then like it's done in the unit test in the commit above, but shouldn't be necessary.

Another thing to mention is that register_default should be called after the routes have been registered (as mentioned in the README). Is that how it's done for you?

[2021-10-02 02:53] jimcmahon commented on #108
Yes, I do add the routes. I needed to do pienv uninstall and then reinstall since I was finding no references to this new variable. After doing that the swagger endpoints are no longer appearing :).

[2021-10-02 04:48] rycus86 commented on #108
Great, I'm glad it worked after the update! :)
I'll close this issue now, but feel free to reopen (or open a new one) if you're still having issues with it.

[2021-10-02 04:48] #108 closed

[2021-10-19 20:28] focabr opened #109 "many flash_exporter_info at /metrics"
I have a routine scheduled every minute, it creates a new thread, runs a procedure and then closes, the problem is that after 4 days /metrics has more than 5800 "flask_exporter_info{pid="????",version="0.18.3 "} 0.0" of these metrics.

Would it be possible to disable only this metric "flask exporter_info" or change it to counter? or disable the inclusion of the pid in the metric?

Could it be that

[2021-10-26 11:08] rhuanbarreto opened #110 "UWsgiPrometheusMetrics with ConnexionPrometheusMetrics"
How can I use `UWsgiPrometheusMetrics` with `ConnexionPrometheusMetrics`? I have an application that uses Connexion but has multiple processes.

[2021-10-27 09:25] #110 closed, assigned to nobody

[2021-11-16 11:05] vcariven opened #112 "Expose precomputed percentiles as metrics"
Hello,

This more a feature request.

Rather than relying on `*_bucket` metrics and the use of `histogram_quantile` function, would it be possible to expose precomputed quantiles as metrics ?
The quantile list could be configurable (ex. 50th, 75th, 95th, 99th). This approach have the benefit of reducing drastically the number of exposed/scraped metrics which is non negligible when monitoring thous

[2021-11-16 11:11] rycus86 commented on #112
Hi @vcariven

I like the idea. Do you know if the underlying Prometheus library, or something else in this space has something like this? I'd be curious how others have solved this.

If you have capacity to put up a PR, I'd be happy to review it and get that in as an optional feature.

[2021-11-17 01:01] tgpfeiffer commented on #97
I think this was fixed in #98 and could be closed?

[2021-11-17 01:21] rycus86 commented on #97
Yes, you're right, thanks for the ping!

[2021-11-17 01:21] #97 closed

[2021-11-18 08:04] idlefella opened #113 "Exceptions (Status code 500) are counted twice"
Hi

I installed the prometheus_flask_exporter with the latest version of flask (v2.0.2) and realized that when the endpoint raises and exception, that the counter for the 500 status code is counted twice.

The issue seems to be that both callbacks `after_request` and `teardown_request` increment the counter +1. For other status codes, the code works as expected because the first if statement in th

[2021-11-18 11:21] rycus86 commented on #113
Thanks a lot for reporting this issue, and so awesome to put here steps to reproduce it!
Is this perhaps a change in Flask 2? I wonder why this wasn't an issue before.
I think there's some code already between the handlers that tries to avoid double-counting, perhaps that needs to be adjusted.

If you have ideas for the fix, I'm happy to review a PR.
Otherwise I'll try to have a look this weekend

[2021-11-21 10:02] #113 closed

[2021-11-21 10:06] rycus86 commented on #113
Thanks again for reporting this! I've now merged in a fix for this in https://github.com/rycus86/prometheus_flask_exporter/commit/c9ff2b11b776156760c05c94e891b08d960eb62e

I had a brief look at your suggested fix, but removing either `after_request` or `teardown_request` breaks a lot of unit tests, so I decided to flag the request with an attribute to avoid double-counting. I also noticed that the

[2021-11-21 11:37] idlefella commented on #113
Hi @rycus86

I also wanted to add a unittest for that case, but realized that when an exception is thrown in the application, the unittest also fails immediately due to that exception. I then stopped working on it because I didn't have enough time besides work.

But thank you so much for providing a fix in such a short time!

[2021-12-13 10:22] lakay opened #114 "General: metrics for arbitrary values (not requests)"
General Question

can you give some pointers if it is possible to use the module to expose metrics related not to request tracking?
My goal is to write a prom exporter to provide application probe value monitoring via kafka or tibcorv receivers.

[2021-12-13 20:13] rycus86 commented on #114
Yep, it is totally possible. You can either use the helper methods on the PrometheusMetrics instance (like counter, summary, etc) or import the relevant metric types from the underlying prometheus_client library and they will all be collected together with the HTTP metrics. (if you only need metrics for kafka and similar but not for HTTP/Flask, then I'd just use that underlying library - not sure

[2021-12-15 10:02] lakay commented on #114
Thank you so much for your fast reply.
I am going for the prometheus_client module in the first PoC.
Might be very interesting to combine it later on with HTTP Metrics.

Great Help, thank you!

[2022-02-01 12:02] noftasmos1998 opened #117 "Is there a way to obtain individual request times?"
From the metrics provided I'm not understadning how can I obtain the max/min request time in a timeframe given. Is there a way to do this?

[2022-02-02 02:15] rycus86 commented on #117
I think that can be done using `max_over_time(flask_http_request_duration_seconds[15m])` - see https://prometheus.io/docs/prometheus/latest/querying/functions/#aggregation_over_time

[2022-02-02 02:18] noftasmos1998 commented on #117
Yes exactly how I thought but somehow I don't have that metric available, I only have flask_http_request_duration_seconds_sum,_count and _bucket.

[2022-02-02 02:24] rycus86 commented on #117
Oh, yes of course, it's a Histogram - sorry. I don't think you can get the max value with the built-in metrics only.
Not even sure how can we get that with Prometheus metrics. 🤔

[2022-02-03 13:20] denist-huma opened #118 "examples/sample-signals has Prometheus panic: runtime error: slice bounds out of range"
## What is the current behavior?

 the example-dashboard have no data coming http://localhost:3000/d/_eX4mpl3/

## If this is a bug, how to reproduce it? Please include a code sample if relevant

run
[code]

to get what is wrong:

[code]

## What's the expected behavior?

## Are you able to fix this problem and submit a PR? Link here if you have already

setting config fixes *Prometheus* panic but

[2022-02-05 02:44] #118 closed

[2022-02-07 20:01] hustxx opened #120 "RESTfulPrometheusMetrics with gunicorn"
Do we support RESTfulPrometheusMetrics with gunicorn? Is there an example how to set the metrics?

[2022-02-08 07:59] rycus86 commented on #120
I don't think there's an example at the moment, tried looking through the https://github.com/rycus86/prometheus_flask_exporter/tree/master/examples
Maybe it should be composable, I think we should be able to make it work potentially with some small changes.

Do you have an example app or a minimal example with restful and gunicorn we could test against?

[2022-03-08 07:27] Velan987 opened #121 "PrometheusMetrics for werkzeug"
Do we support metrics for multiprocessed werkzeug server flask applicaiton? Is there an example how to set the metrics?

I am running the application like below
app.run(host='0.0.0.0', port=8080, processes=10, threaded=False)

[2022-03-08 07:36] rycus86 commented on #121
We have some multiprocessing examples in https://github.com/rycus86/prometheus_flask_exporter/tree/master/examples but none with `processes=N` I think. Do you know how is it implemented? Maybe the multiprocessing extension already works for it?

[2022-03-08 07:57] Velan987 commented on #121
Yeah we have examples for multiprocessing, I tried that in my werkzeug application. Metrics endpoints are not exposed, getting 404

[2022-03-08 08:36] #121 closed

[2022-03-08 08:38] rycus86 commented on #121
OK, it was working if you manually called `register_endpoint` on `MultiprocessPrometheusMetrics`, but I added a new `MultiprocessInternalPrometheusMetrics` as a shorthand to do that internally, and an example for it: https://github.com/rycus86/prometheus_flask_exporter/tree/master/examples/flask-multi-processes

[2022-03-08 08:40] rycus86 commented on #121
It should be available in `0.19.0` as soon as https://github.com/rycus86/prometheus_flask_exporter/actions/runs/1950370778 finishes.

[2022-03-09 04:53] Velan987 commented on #121
I tried above example in my local, when I hit any api separate Counter.db, gauge.db and histogram.db files are creating inside /tmp folder, but when I try to hit the metrics api I am getting 404 only. Can you please help me on this?

[2022-03-09 04:55] rycus86 commented on #121
Do you have a minimal example to reproduce your issue? Also, have you checked the new example I added to this repo?

[2022-03-09 05:01] Velan987 commented on #121
Yes I referred https://github.com/rycus86/prometheus_flask_exporter/tree/master/examples/flask-multi-processes this example.
Below is the sample code.

from prometheus_flask_exporter.multiprocess import MultiprocessInternalPrometheusMetrics
from flask import Flask, render_template, redirect, url_for, request, session, flash, jsonify, Response, make_response

os.environ["PROMETHEUS_MULTIPROC_DIR"]=

[2022-03-09 05:05] rycus86 commented on #121
This example seems to work for me as expected.

[code]

And the metrics endpoint:

[code]

What do you get when you try to access them?

[2022-03-09 05:19] Velan987 commented on #121
Below is the response i am getting

* Connected to localhost (127.0.0.1) port 8080 (#0)

* HTTP 1.0, assume close after body
< HTTP/1.0 404 NOT FOUND
< Content-Type: text/html; charset=utf-8
< Content-Length: 232
< Server: Werkzeug/1.0.1 Python/3.8.6
< Date: Wed, 09 Mar 2022 05:16:40 GMT
<
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<title>404 Not Found</title>
<h1>Not Found</h1>
<p>Th

[2022-03-09 05:39] rycus86 commented on #121
Are you just running your app with `python3 app.py` or through some app server?

[2022-03-09 05:49] Velan987 commented on #121
Using "python app.py" only

[2022-03-09 05:52] rycus86 commented on #121
That's odd, seems to work on my machine. 😕 Can you try on a different port, or after a restart? (maybe something else is on that port?)
Also, what OS are you on? I tried your example on OS X.

[2022-03-09 06:04] Velan987 commented on #121
I am running this in docker, base image is using Debian GNU/Linux Release 10

[2022-03-09 06:06] Velan987 commented on #121
When I cat one of the histogram file inside tmp folder I can see the metrics

/tmp# cat histogram_248.db
�♂�["flask_http_request_duration_seconds", "flask_http_request_duration_seconds_sum", {"method": "GET", "path": "/testreports/api/v1/ping", "status": "200"}]  �,�<?�["flask
_http_request_duration_seconds", "flask_http_request_duration_seconds_bucket", {"le": "0.005", "method": "GET", "path": "/

[2022-03-09 06:39] rycus86 commented on #121
OK I could reproduce it, I had previous config from testing that set the `PROMETHEUS_MULTIPROC_DIR` environment variable, not through the main app like you have, and that seems to make it work.
Try running your app like `PROMETHEUS_MULTIPROC_DIR=/tmp python3 app.py` - not exactly sure why it makes a difference for the collector though.

[2022-03-09 06:52] Velan987 commented on #121
I removed PROMETHEUS_MULTIPROC_DIR environment variable from main app file and running the app like you mentioned
PROMETHEUS_MULTIPROC_DIR=/tmp python app.py

While running getting below error
ValueError: one of env PROMETHEUS_MULTIPROC_DIR or env prometheus_multiproc_dir must be set and be a directory

[2022-03-09 07:04] rycus86 commented on #121
Hm, that's super odd. Can you try printing out the env variables in Python? Looks like somehow it doesn't see it? 😕

[2022-03-09 07:20] Velan987 commented on #121
print(os.getenv("PROMETHEUS_MULTIPROC_DIR"))

Getting None

[2022-03-09 07:23] rycus86 commented on #121
OK, so the error seems legit, now you just need to figure out how does your Python loses environment variables. :)

[2022-03-09 07:35] Velan987 commented on #121
I added the environment variable in Dockerfile
ENV PROMETHEUS_MULTIPROC_DIR=/tmp

When I running print(os.getenv("PROMETHEUS_MULTIPROC_DIR")) this statement I am getting /tmp

My application is up, ping api is working but getting 404 for metrics api.

[2022-03-09 07:38] rycus86 commented on #121
Any chance you could push the example repo to GitHub, including the Dockerfile and relevant setup?

[2022-03-09 07:44] Velan987 commented on #121
Do I need to invoke metrics.start_http_server() in main app file

[2022-03-09 07:46] rycus86 commented on #121
No, you don't need it with the internal multiprocess extensions.

[2022-03-09 08:16] rhuanbarreto opened #122 "start_http_server run uwsgi in production mode"
I'm using `metrics.start_http_server` in order to have a separate server on a different port. But the server starts in development mode and all the access logs goes to `stderr`. How can I run this in production mode?

[2022-03-09 08:21] rycus86 commented on #122
That function delegates to https://github.com/prometheus/client_python/blob/4e0e7ff7e615601a35376c414b7081945ed417f8/prometheus_client/exposition.py#L165 so whatever configuration that underlying wsgi server has we should support.

[2022-03-09 08:38] Velan987 commented on #121
Running multiple services in same port, nginx is taking care of external traffic.
For a single processed application, I am getting response for /metrics.
For a multiprocess application alone getting 404

[2022-03-09 08:45] rycus86 commented on #121
I think an example repo including your Docker and Nginx setup would help here, I don't see right now what could be the issue.

[2022-03-22 12:49] Velan987 opened #123 "Multiprocess applications metrics running in werkzeug"
For a multiprocess applications only the metrics which has "flask_" prefix is exposed.
Common metrics like "process_resident_memory_bytes, process_cpu_seconds_total" are not exposed, for single process application these metrics are available.

I am running the application like below
app.run(host='0.0.0.0', port=8080, processes=10, threaded=False)

[2022-03-23 07:23] rycus86 commented on #121
Good find! FYI the README has a bit of info on Debug mode: https://github.com/rycus86/prometheus_flask_exporter#debug-mode

I'll answer the other question on the new issue you opened.

[2022-03-23 07:25] rycus86 commented on #123
We've run into this before, and there's an easy-to-miss paragraph about it in the README ( under https://github.com/rycus86/prometheus_flask_exporter#multiprocess-applications )

[2022-03-23 07:25] #123 closed

[2022-03-25 18:11] rokpu opened #124 "Jinja2 Update 3.1.0 breaks Multiprocess"
The latest release from Jinja2 breaks the multiprocess because the package version for Jinja isn't set. See release notes - https://jinja.palletsprojects.com/en/3.1.x/changes/#version-3-1-0

This can be remediated by either hard setting the Jinja2 package to 3.0.3 or import escape directly from `MarkupSafe`

[2022-03-25 20:25] rycus86 commented on #124
Thanks for reporting this! Do you have an error message on how this manifests? Is it a pip error or a runtime issue?

[2022-03-25 22:08] rokpu commented on #124
No problem, I encountered it yesterday for the first time. It's a runtime error.
<img width="1243" alt="Screen Shot 2022-03-25 at 6 06 46 PM" src="https://user-images.githubusercontent.com/18668171/160208696-12b957ca-93b6-4b54-a8ce-4f9a7e99bc89.png">

[2022-03-26 03:30] rycus86 commented on #124
I just tried running the test in https://github.com/rycus86/prometheus_flask_exporter/blob/master/examples/uwsgi/Dockerfile locally, and that seems to work as expected, while resolving Jinja2 to version 3.1.1 (based on the logs).
What's your `requirements.txt` looking like? Are you perhaps pinning some of the packages but not others?

[2022-03-28 14:30] rokpu commented on #124
That's interesting. All packages are pinned in my requirements file.
See below
`
ansicolors==1.1.8
colorlog==4.2.1
flask==1.1.2
flask-cors==3.0.8
flask-seasurf==0.3.0
flask-talisman==0.7.0
icontract==2.3.4
itsdangerous==2.0.1
marshmallow==3.6.1
Jinja2==3.0.3
prometheus-flask-exporter==0.19.0
PyGithub==1.55.0
pynamodb==4.3.2
python-gitlab==2.4.0
pytz==2020.4
requests==2.23.0
webargs==6.1.0
`

[2022-03-28 20:33] rokpu commented on #124
Upgrading most of the packages within the app seems to have fixed the above issue.
Not entirely sure what package was holding it back.

[2022-03-28 20:57] rycus86 commented on #124
Sounds like you've worked it out, so I'll go ahead and close this issue. If you're pinning all packages, then I'd expect explicitly adding the markupsafe package along with the jinja2 bump would probably also work.

[2022-03-28 20:57] #124 closed

[2022-03-28 21:08] rokpu commented on #124
Agreed, thanks for the help.

[2022-04-05 21:53] kojiromike opened #125 "Incompatible with prometheus-client 0.14.0"
in the last hour I started getting this error:

[code]

because prometheus-client 0.14.0 was released and [doesn't have the `choose_encoder` function anymore](https://github.com/prometheus/client_python/compare/v0.13.1...v0.14.0#diff-31616dde80dc7c3540794d368828f5fdf09536ba95ceb8fef6463e76c35c97e6L215).

[2022-04-05 23:51] rycus86 commented on #125
This is now fixed by @CorinneKelly - thanks a lot! (see https://github.com/rycus86/prometheus_flask_exporter/pull/126)
I've published the new version as `0.20.0` - which also drops support for Python 2 and Python 3.5.

[2022-04-05 23:51] #125 closed

[2022-04-07 07:31] danielbraun89 opened #128 "ImportError: cannot import name 'choose_encoder' from 'prometheus_client.exposition'"
Newest prometheus_client 0.14 breaks compatibility (choose_encoder was removed)

[2022-04-07 08:08] rycus86 commented on #128
I expect this should be fixed by https://github.com/rycus86/prometheus_flask_exporter/pull/126 in `prometheus_flask_exporter` version `0.20.0` - are you perhaps pinning some packages but not others?

[2022-04-07 20:55] kojiromike commented on #128
I can confirm this _was_ broken with the combination of

[code]

and works fine with either

[code]

or

[code]

so basically users can either _pin_ carefully, or unpin and just make sure they aren't getting a bad combination.

[2022-04-07 21:16] rycus86 commented on #128
We could potentially release a new version that tries importing `choose_formatter` and if that didn't work fall back to importing `choose_encoder`. I'd be happy to review a PR for that, or I can try have a look myself later.

[2022-04-07 21:32] #128 closed

[2022-04-07 21:37] rycus86 commented on #128
Thanks to @kojiromike adding a change in https://github.com/rycus86/prometheus_flask_exporter/pull/129 the `0.20.1` version should now work with the latest and also with the older version of `prometheus_client`, so pinning either of them or both should all work. (for example if Renovate is bumping your packages one by one).

[2022-04-07 21:37] rycus86 commented on #125
Thanks to @kojiromike adding a change in https://github.com/rycus86/prometheus_flask_exporter/pull/129 the `0.20.1` version should now work with the latest and also with the older version of `prometheus_client`, so pinning either of them or both should all work. (for example if Renovate is bumping your packages one by one).

[2022-04-08 03:19] fredericoschardong opened #130 "Only Total requests per minute working"
Hey,

Any idea why only the "Total requests per minute" tab is showing anything? I am using prometheus:v2.34.0 and grafana:8.4.4.

![Screenshot from 2022-04-08 00-16-10](https://user-images.githubusercontent.com/3732628/162356126-096744db-fdbe-4b4a-8be5-6440de8cbcc0.png)

[2022-04-08 08:54] Starkteetje commented on #128
Except if you pin only an old version of the exporter, i.e. `prometheus-flask-exporter~=0.19.0` but not the client. In that case you get the incompatible versions 0.19.0 and 0.14.0

Would pinning the client version be an option for you?

[2022-04-08 14:31] fredericoschardong commented on #130
After changing prometheus to scrap every 5 or 10 seconds (down from 30s) everythong worked.

[2022-04-08 14:31] #130 closed

[2022-05-06 12:01] YaoJusheng opened #131 "After MultiProcessCollector used, the exposed endpoint `/metrics` has no value returned"
I'm using `MultiProcessCollector` with `UWsgiPrometheusMetrics`, why does the endpoint  `/metrics` return none?

I have tried some of the cases in the [examples](https://github.com/rycus86/prometheus_flask_exporter/tree/master/examples) and found that none of them worked.

[2022-05-06 12:05] rycus86 commented on #131
Do you have a specific example you tried? Or maybe a minimal app you could share? GitHub actions ran a bunch of the examples you linked successfully not so long ago: https://github.com/rycus86/prometheus_flask_exporter/actions/runs/2111681953

[2022-05-06 13:02] rycus86 commented on #131
Got it, thanks. I'll try to have a look this weekend to see what might be going on.

[2022-05-06 23:26] rycus86 commented on #131
OK, I double checked the uwsgi example in the repo, and I can confirm it still works as expected.
Note, that in the example we start uwsgi on port 4000, see https://github.com/rycus86/prometheus_flask_exporter/blob/master/examples/uwsgi/Dockerfile#L18
But the metrics endpoint will be exposed on a dedicated port ( see https://github.com/rycus86/prometheus_flask_exporter/blob/master/examples/uwsgi/s

[2022-05-07 02:31] YaoJusheng commented on #131
In my example, when I try UWsgiPrometheusMetrics, I am using port 8200 to get the metrics, but no matter how I request the `/test` interface, the metrics endpoint returns no change in value.

[2022-05-07 02:35] YaoJusheng commented on #131
<img width="1325" alt="image" src="https://user-images.githubusercontent.com/42117749/167234547-f140f7d4-e6ee-44dd-866f-749e8b04acf1.png">

<img width="890" alt="image" src="https://user-images.githubusercontent.com/42117749/167234531-4df4e992-8ed3-4383-929c-b38e11d52864.png">

[2022-05-07 08:33] rycus86 commented on #131
Tried the example again and I see that the metrics change when I hit the test endpoint - though note that I checked on the latest version, which is `0.20.1` but I can't remember fixing anything related to uwsgi issues.

I think as a next step, it would be helpful if you could put your example app (requirements, scripts and everything else) in a GitHub repo, so I could reproduce exactly what you're

[2022-05-07 10:25] YaoJusheng commented on #131
Here is my uwsgi example, in the meantime I have just upgraded to version 0.20.1:
[code]

[2022-05-07 10:47] YaoJusheng commented on #131
I think it may be due to the `MultiProcessCollector`, I found no files in the `tmp` directory.

As shown in the example above, in addition to this, do I need to add some configuration to work with `MultiProcessCollector`?

[2022-05-07 10:56] rycus86 commented on #131
Now that you mention it, try setting the environment variable before you start the Python (or uwsgi) process instead of setting it within the app from the Python code, if I remember correctly that didn't always work.

[2022-05-07 11:32] YaoJusheng commented on #131
Thanks a lot!

The problem is solved, the developer does  need to set the environment variables directly before the program starts, the settings in the code don't take effect.

By the way, can uwsgi be mixed and matched with restful?

[2022-05-07 11:39] rycus86 commented on #131
Awesome, glad you found the issue! Perhaps I should document it in the README, though it's probably more a property of the underlying prometheus_client library than this one.

There are some examples mixing uwsgi with other frameworks in the repo, so I think it should be doable but didn't try it. Feel free to open a new issue if you try it and find it that it doesn't work.

[2022-05-07 11:39] #131 closed

[2022-05-09 06:08] Velan987 opened #132 "Multiprocess application metrics endpoint is taking more time to respond"
I have a multiprocess enabled application, I am able to expose /metrics api successfully. When I start the server /metrics api is responding within 1second, after few hours it is taking more time (more than one minute). Can someone please help me on debugging this issue.

[2022-05-09 07:57] rycus86 commented on #132
Can you share your app and/or its setup to help reproducing the issue?

[2022-05-09 08:42] Velan987 commented on #132
os.environ["PROMETHEUS_MULTIPROC_DIR"]='/tmp'

app = Flask(name)

metrics = MultiprocessInternalPrometheusMetrics(app, path="/api/metrics")

@app.route("/api/v1/ping", methods=["GET"])
def ping():
"""
Simple ping api for health check
:return:
"""
ret = dict()
ret['serviceName'] = 'test'
ret['message'] = 'Healthy'
return jsonify(ret)

if name == 'main':
app.run(host='0.0.0.0', port=8080, processes=

[2022-05-09 10:12] rycus86 commented on #132
Thanks! Do you just run this with Python, or use something like uwsgi to run it?
Also, do you know if the metrics endpoint gets slower by itself or it needs the API endpoints to record metrics?

[2022-05-09 10:19] Velan987 commented on #132
Running with python only.
After few hours metrics endpoint itself gets slower.
I have configured metrics api with prometheus with scrape interval as 30s.

[2022-05-09 10:43] rycus86 commented on #132
OK, I'm fairly certain that you're running into this issue from the underlying library: https://github.com/prometheus/client_python/issues/367

It looks like as metrics are recorded, the number of multiprocess-tracked files `PROMETHEUS_MULTIPROC_DIR` directory keep growing and the metrics aggregation becomes slower.
You could raise an issue with them, though there's not seem to be an official reco

[2022-05-13 16:32] kr886q opened #133 "Default metrics disappeared"
I had it setup and connected to prometheus and saw all of the default metrics for 6 different services I am running. I stopped and then started one of the services, and now the only metric that shows up is flask_exporter_info.

I looked in the logs of the services and havent seen anything. Also flask_exporter_info is reporting 1

[2022-05-13 17:06] kr886q commented on #133
flask_http_request_duration_seconds_bucket{le="0.005",method="GET",path="/favicon.ico",status="404"} 3.0

before it was saying status=200, and not sure where this favicon.ico path is coming from

[2022-05-13 17:45] kr886q commented on #133
Okay so endpoints only appear AFTER using them. As for the favicon path I have no idea where thats coming from. Could be the package it self or a blueprint or somewhere else i haven't considered

[2022-05-14 10:04] rycus86 commented on #133
Hey @kr886q - yes, the metrics are not initialized by itself, they appear when you increment a counter, or a histogram receives a measurement, etc.

That's usually something the browsers request, perhaps you opened one of the endpoints in the browser to check it? (maybe the metrics endpoint?)

[2022-05-22 04:25] immahi79 opened #134 "Duplicate sample for timestamp issue when remote writing to Prometheus server"
Hi

Thank you for the Prometheus Flask exporter and grafna dashboard exmple which was very helpful to ingest metrics from microservices running in the ECS cluster. I have followed the article [https://aws.amazon.com/blogs/opensource/metrics-collection-from-amazon-ecs-using-amazon-managed-service-for-prometheus/](url) to deploy and scrape the metrics from each flask target and pushed them into the

[2022-05-22 10:21] rycus86 commented on #134
Hi Mahesh,

I'm not familiar with the AWS Prometheus workspace, not sure if that perhaps has some configuration that needs tweaking. The duplicate series error is a good lead of you can figure out what is the key it's comparing things with - is it metric name and all tags?

You shouldn't need to reset counters, in Prometheus they keep their values regardless of scraping, so it makes sense that the

[2022-05-24 00:03] raxod502 opened #135 "Warning: Silently ignoring app.run() because the application is run from the flask command line executable"
An awkward situation. Code:

[code]

Result:

[code]

And the metrics server does not listen on port 8081. It seems that Flask notices that I have invoked the main application using `flask run`, and has elected to disable the ability to run new Flask applications, which obviously breaks `start_http_server` from prometheus_flask_exporter.

Not sure what the best way to handle this is, but wanted to

[2022-05-24 00:40] rycus86 commented on #135
Hey, thanks for flagging this!
Do you have a more complete (but minimal) example I could turn into an integration test to ensure this works as expected?

[2022-05-24 23:08] raxod502 commented on #135
Sure, I will put something together and get back to you soon.

[2022-05-25 04:54] Velan987 commented on #132
After above code changes I am not seeing that issue, thank you @rycus86 .

[2022-05-25 04:56] #132 closed

[2022-05-27 23:37] raxod502 commented on #135
Here's a working example: https://gist.github.com/raxod502/ca143af7513110f79e8b4ce14249ca97

[code]

[2022-05-27 23:41] raxod502 commented on #135
Now that I've had a moment to review the source, I can confirm that simply adding this code before invoking `metrics.start_http_server` works around the problem, and allows the metrics server to be started without issue:

[code]

[2022-05-27 23:45] raxod502 commented on #135
However, when running in development mode (with the live reloader) we encounter an additional problem, because the metrics Flask app tries to start its own live reloader from inside the first live reloader, which does not work since the live reloader establishes signal handlers and therefore can only run from the main thread:

[code]

[2022-05-27 23:50] raxod502 commented on #135
It appears to be possible to work around this issue by unsetting `FLASK_ENV` from Python as well, before starting the metrics server. However, this does have the disadvantage of producing relatively confusing log output:

[code]

Working code:

[code]

[2022-05-28 08:40] rycus86 commented on #135
Thanks a lot for the investigation @raxod502 ! 🙇
Do you have a proposed way forward based on that? I expect if we unset those environment variables then we'd interfere with other parts of Flask that would handle those?

[2022-06-01 17:33] davidism commented on #135
This metrics server does not appear to be part of the application under development. It is its own, separate application. Therefore, it should be run using a production server, even locally.

[2022-06-01 22:54] rycus86 commented on #135
I'll have a look at this more deeply when I get a chance. I wouldn't necessarily want Gunicorn or other dependencies to be mandatory, so I'll need to dig deeper into what am I doing wrong in the code that surfaces this problem (sounds like maybe I use the wrong app somewhere perhaps).

[2022-06-02 08:21] rycus86 commented on #135
OK, so I had a chance now to look at the code.
So `flask run` passes an environment variable to the app so that we don't actually start an app from within, because the cli machinery is going to set that _development server_ up for us.

If this is intended for development mode only, I think it should be OK to just have the metrics endpoint exposed on the main Flask app, which happens by default.

[

[2022-06-02 11:19] raxod502 commented on #135
That works for development mode, but what about in production? It sounds like the Flask folks are saying it is not appropriate to use the Flask development server in production, yet it seems like prometheus_flask_exporter does not have an option to use anything other than the Flask development server.

What if we add an API to prometheus_flask_exporter that simply returns the Flask app for exposin

[2022-06-02 11:42] rycus86 commented on #135
We do have examples on how to integrate with "production ready" servers, for example:
- Gunicorn
  - https://github.com/rycus86/prometheus_flask_exporter/tree/master/examples/gunicorn
  - https://github.com/rycus86/prometheus_flask_exporter/tree/master/examples/gunicorn-internal (metrics endpoint exposed on the same app)
  - https://github.com/rycus86/prometheus_flask_exporter/tree/master/examples

[2022-06-02 22:11] rycus86 commented on #135
They already have different (more robust?) ways to expose metrics over HTTP, see https://github.com/prometheus/client_python#http

Maybe this is worth calling out in this project's README, and suggest some alternatives - though on that note I think if you run the metrics endpoint on an insecure server that is not available for external users, it may be something that is an acceptable tradeoff for

[2022-06-02 22:36] raxod502 commented on #135
Yeah - although the development server is not "production ready", it may be less bad to use it for an internal metrics endpoint that will be seeing <0.1 request per second, and is not accessible to malicious outside traffic. But, if it's not production ready, we should still do our best to follow best practices and use something that is recommended instead.

[2022-06-04 10:57] rycus86 commented on #135
OK, so I added `PrometheusMetrics.generate_metrics()` in https://github.com/rycus86/prometheus_flask_exporter/commit/3d29e0431975b010df04c789571500662ebb0fd8 but as I was about to write an integration test, I realized I'm not really sure how that's supposed to work.
You'd only want to do this yourself if you want to expose the metrics endpoint on a different server or different HTTP port, and not

[2022-06-12 21:26] raxod502 commented on #135
Yeah, I would assume that you would want to expose the second webserver from within the same process. Looking into the options in https://github.com/rycus86/prometheus_flask_exporter/issues/135#issuecomment-1143929020, it seems like Waitress, Eventlet, and Gevent are acceptable options.

Since the Flask project doesn't want to support usage of the Flask development server even for internal facing

[2022-06-15 01:06] reubano commented on #135
You should also be able to set `app.run`'s `use_reloader` option to `False` like so, `app.run(debug=True, use_reloader=False)`.

[2022-06-15 02:49] raxod502 commented on #135
Well, sure, but only if we feel comfortable ignoring guidance from upstream that the Flask dev server (which is what gets run when you use `app.run`) should not be used in this situation - right?

[2022-06-16 23:24] raxod502 commented on #135
I agree with you, however, the comment from @davidism says this:

Which I'm interpreting to mean that using the Flask development server for something that is not the main Flask app, even in development, is not a supported use case by upstream. I have to confess I am not sure why, but if that's what we have to work with, it's what we have to work with.

[2022-06-17 00:01] reubano commented on #135
Gotcha. In that case, how hard would it be to make the metrics server "part of the application under development"? Maybe something like, [Run Multiple Flask Applications from the Same Server](https://peterhaas-me.medium.com/how-to-run-multiple-flask-applications-from-the-same-server-9ca2c0ad7bb3). Granted, I haven't looked into this codebase to know how applicable that will be.

My own reason for

[2022-06-20 21:25] raxod502 commented on #135
I am not sure this is possible.

That is for doing routing within a single WSGI application to proxy to multiple sub-applications by URL path. What we want is to run multiple top-level WSGI applications separately.

As far as I can tell, what the Flask project is saying is you can't use Flask for this.

[2022-06-27 09:20] TGotwig opened #137 "🐞 TypeError: The view function for 'main' did not return a valid response."
Did it like described in https://github.com/rycus86/prometheus_flask_exporter#usage but with `app.run(debug=True)` at the end 🤔🤔🤔

[code]

[2022-06-27 10:05] rycus86 commented on #137
I should probably update those examples to return something valid, sorry. 🤦
As the error message explains:

If you change the `pass` to something like `return 'OK'` then it should work.

[2022-08-02 00:56] harupy opened #138 "ImportError: cannot import name 'MethodViewType' from 'flask.views'"
We encountered the following issue:

[code]

https://github.com/mlflow/mlflow/runs/7622639194?check_suite_focus=true#step:9:62

It looks like `flask` replaced `MethodViewType` with `MethodView` in 2.2.0:

https://github.com/pallets/flask/commit/45174bf9a1e96e51ce589c7aa2c151249d1fdf11

### Package versions:

[code]

[2022-08-02 10:19] rycus86 commented on #138
Thanks for reporting it @harupy !
Let me see if I can push a fix.

[2022-08-02 10:50] #138 closed

[2022-08-02 11:28] amroghoneim opened #139 "ImportError: cannot import name 'MethodViewType' from 'flask.views'"
I have a flask endpoint with Gunicorn as the server. I containerized the app and deployed on an azure container instance.

It has been working fine but then this error started popping up when starting the container instance.

complete error traceback
[code]

The code looks like this

config.py
[code]
app.py
[code]

gunicorn command
[code]

[2022-08-02 11:32] rycus86 commented on #138
OK, the Flask bump broke a surprising number of things in our unit and integration tests, but I managed to work through them now.
I've released the fix in version `0.20.3` that should be backwards compatible to pre-v1 Flask versions too.
https://pypi.org/project/prometheus-flask-exporter/0.20.3/

[2022-08-02 11:37] rycus86 commented on #139
Thanks for reporting!
This has just been fixed in the latest version, see https://github.com/rycus86/prometheus_flask_exporter/issues/138

[2022-08-02 11:37] #139 closed

[2022-08-02 11:48] harupy commented on #138
@rycus86 Thanks for the quick fix!

[2022-08-02 14:11] hynek commented on #138
Wow that was super fast – thank you so much!

[2022-08-25 12:10] rhymes opened #140 "Prometheus Client 0.1.4.1 has reverted to choose_encoder over choose_formatter"
Apparently https://github.com/prometheus/client_python/pull/796 went back from:

[code]

to

[code]

I wondered if you'd be interested in a PR which swaps the import orders in here:

https://github.com/rycus86/prometheus_flask_exporter/blob/e1aac467124686ad5bd07e3de784b35296777b13/prometheus_flask_exporter/__init__.py#L15-L20

and keeps `choose_encoder` as the default name

[2022-08-25 12:16] rycus86 commented on #140
Hm, interested in what's the reason for that suggestion?
I'd have thought it's better to try the latest / more likely import first, and fall back to the other one in case you have that specific version?

[2022-08-25 12:19] rhymes commented on #140
@rycus86 omg you're right, for some reason I read the first block as `choose_formatter` and not `choose_encoder`

Too many renames :D

Thanks for taking the time and sorry for the mishap!

[2022-08-25 12:19] #140 closed

[2022-08-25 12:20] rycus86 commented on #140
No problem at all! :)
I was curious if I was missing something. 😅

[2022-08-31 09:00] sparkingdark opened #141 "Is it possible to monitor socketio application by events"
Hello,

Currently I am using python socketio for creating socket app , it it possible to monitor the app using this.

[2022-08-31 09:05] rycus86 commented on #141
Hi,

Does your app use Flask at all? This library is for easy integration with Flask, otherwise you might want to check out the underlying Prometheus client library at https://github.com/prometheus/client_python

[2022-08-31 09:07] sparkingdark commented on #141
Yes my app use flask and other library which wrap it is the https://github.com/miguelgrinberg/Flask-SocketIO
Library so I am thinking to use this.

[2022-08-31 09:13] rycus86 commented on #141
Excellent, thanks! I wasn't aware of that integration.
You should be able to use this library then, which should give you the Prometheus client integration and basic HTTP metrics.
For the socketio managed methods you can try the metric helper functions (like `metrics.counter`, `metrics.summary`, etc) which should work I think, but admittedly haven't tried.
If you do try it I'd be interested to lea

[2022-08-31 09:17] sparkingdark commented on #141
Yeah sure I am trying understand how the socketio and underlying technique work so far I got that basically this integration create a http long polling connection after that it transmit the events and get data from clientside.

I will update this issue after sometime I get or anykind of discussion related to this. Possibly I am also thinking to contribute the methods for only socketio apps or exam

[2022-09-01 05:50] sparkingdark commented on #141
So far I created a histogram and counter object with listening and receiving event label.Then I created a decorator function which I put on the top the listening event every-time that function receive some data it count and give the observed events. Now it's not the most efficient way but it gives the result back.

[2022-09-15 14:01] jonnor commented on #68
The above Grafana dashboard URL now gives 404. Does anyone have a copy of that, or a similar, Grafana dashboard?

[2022-09-15 14:06] jonnor opened #142 "Support for push using Prometheus remote_write?"
Prometheus 2.33 stabilizes the remote_write API. https://promlabs.com/blog/2022/01/30/whats-new-in-prometheus-2-33#remote-write-receiver-marked-stable

While not intended to be a replacement for the pull-based model, it can be very practical from background workers and batch jobs to be able to push, without having to set up a gateway. Especially since the offical pushgateway is very limited, and o

[2022-09-15 20:26] rycus86 commented on #68
I think it's in the repo at https://github.com/rycus86/prometheus_flask_exporter/blob/master/dashboards/flask_webapp.json - does this work?

[2022-09-15 20:28] rycus86 commented on #142
Sure, we can look at supporting that once https://github.com/prometheus/client_python does. I haven't checked whether it does already.

[2022-09-16 07:08] jonnor commented on #142
Only mention I have seen so far is https://github.com/prometheus/client_python/issues/817 - which has not been commented on by the maintainers

[2022-09-30 20:18] bheilbrun opened #143 "Streaming responses and latency"
What's the best way to measure duration for streaming endpoints?

If I'm not mistaken, the current latency measurements don't work for streaming responses. prometheus_flask_exporter measures the time to return the response generator rather than the time to actually generate the stream response.

Flask's [stream documentation](https://flask.palletsprojects.com/en/2.0.x/patterns/streaming/) gives an

[2022-10-07 14:32] Curiouspaul1 commented on #62
Hi @rycus86 thanks for all your effort, i have one small question about this. Which do i use between GunicornPrometheusMetrics and RESTfulPrometheusMetrics for when I'm using both gunicorn and Flask-restX

[2022-10-15 21:23] rycus86 commented on #62
Good question @Curiouspaul1 , not sure if we have an exact test for that yet.
Have you tried either way? If so, did it behave as you needed it?
If it doesn't work, perhaps a sample app & setup might be good then we can test how the metrics setup composition should look like there.

[2022-10-15 21:25] rycus86 commented on #143
That's an interesting one! I haven't checked `stream_with_context()` yet, but my gut-feel is that you could add a custom metric on the `generate()` function inside the request handler function, and that should be timed OK.
We could also look at adding some streaming-friendly wrappers to work with those handlers directly, I haven't looked at that yet.

[2022-11-03 12:35] schelv opened #144 "Is it possible to give a metric an inital value?"
I want to monitor (the rate of) api calls to a microservice.
The problem that I run into is that a metric is only available _after_ the first HTTP request.
This means that the first time that Prometheus sees the metric of an endpoint the value will be 1.
The consequence is that Prometheus cannot 'correctly' calculate the `rate` or `increase` for the metric for the first HTTP request since as far a

[2022-11-04 07:58] rycus86 commented on #144
Hm, I'm not super sure if it's doable, but it's definitely not currently exposed.
https://github.com/prometheus/client_python#labels has a bit on this:

I suppose we could try adding a flag to poke into this initialization function when the metric is registered and see what happens.
I'd be open to see a PR with this perhaps if you're keen?

[2022-11-07 14:25] schelv commented on #144
I created a merge request (#145)
An initial value is now created when all label values are strings.
This was the easiest option =)

I think it is also possible for some of the labels that are determined by a callable.
The only requirement is that all label values should be known.

For most of the labels this should not be a problem, since the endpoint contains information about the label values th

[2022-11-10 22:39] #144 closed

[2022-11-10 22:45] rycus86 commented on #144
This is now released in `0.21.0`, thanks again @schelv !